<app-mainheader></app-mainheader>


<div class="container-fluid button-container" style="background-color: white;">
   
    <div class="row m-4 p-1 greeting">
        <div class="col-12 greeting-col">
            <div class="d-flex">
                <img src="{{profile_pic}}" alt="">
                <h3>Hi.!! <br>
                    <span>{{BuyerAddressDelivery?.first_name}}</span>
                    
                </h3>
            </div>

            <div class="greeting-order">
                <h3>
                    You are at Help Desk
                </h3>
            </div>
        </div>
    </div>

    <div class="row p-md-3 p-2 pt-3 ">

        <div class="col-lg-8 p-1">

            <div class="row">
                
                <div class="col-12 imgHead">
                    <img src="assets/logo/helpCenter.webp" alt="" srcset="">
                    <div class="search">
                        <input class="search-pro bb" type="text" placeholder="Enter question or keyword related your issue" />
                        <button type="btn" class="btn-Find"><i class="bi bi-search"></i></button>
                    </div>
                    
                </div>

                <h4 class=" guidanceHead p-2 pb-0">Guidance Centre</h4>  
                <div class="col-11 guidanceCenter">
                        
                    <div class="d-flex">

                        <div class="guidanceCenter-boxMain" routerLink="delivery">
                            <img src="assets/HelpCenter/countertops.png" alt="">
                                <h5>
                                    Delivery options
                                </h5>
                                <p>
                                    Incoterms Ex-work, DDP,Delivery Partner
                                </p>
                        </div>

                        <div class="guidanceCenter-boxMain">
                            <img src="assets/HelpCenter/phone_android.png" alt="">
                                <h5>
                                    Get our App
                                </h5>
                                <p>
                                    Get our app or download it from playstore
                                </p>
                        </div>

                        <div class="guidanceCenter-boxMain" routerLink="order-related-querry">
                            <img src="assets/HelpCenter/shopping_cart.png" alt="">
                                <h5>
                                    Order related Querry
                                </h5>
                                <p>
                                    Your complete guide to order the product
                                </p>
                        </div>

                        <div class="guidanceCenter-boxMain" routerLink="rfq">
                            <img src="assets/HelpCenter/request_page.png" alt="">
                                <h5>
                                    Request For Quotation
                                </h5>
                                <p>
                                    What is RFQ and how it works for buyer.
                                </p>
                        </div>

                        <div class="guidanceCenter-boxMain" routerLink="return-your-order">
                            <img src="assets/HelpCenter/return.png" alt="">
                                <h5>
                                    Return your Order
                                </h5>
                                <p>
                                    Your complete guide to return the product
                                </p>
                        </div>

                        <div class="guidanceCenter-boxMain" routerLink="about-us">
                            <img src="assets/HelpCenter/about.png" alt="">
                                <h5>
                                    About Negbuy
                                </h5>
                                <p>
                                    What is Negbuy What does it do
                                </p>
                        </div>
                        

                    </div>

                </div>

                <h4 class=" guidanceHead p-2 pb-0 mt-5">Self Help Centre</h4>  
                <div class="col-11 SelfHelpCenter">
                        
                    <div class="d-flex">

                        <div class="SelfHelpCenter-boxMain">
                            <img src="assets/HelpCenter/lock_outline.png" alt="">
                                <h5>
                                    Change Your Password
                                </h5>
                                
                        </div>

                        <div class="SelfHelpCenter-boxMain">
                            <img src="assets/HelpCenter/mail.png" alt="">
                                <h5>
                                    Change E-mail Address
                                </h5>
                        </div>

                        <div class="SelfHelpCenter-boxMain">
                            <img src="assets/HelpCenter/mail.png" alt="">
                                <h5>
                                    Change Contact Number
                                </h5>
                        </div>

                        <div class="SelfHelpCenter-boxMain">
                            <img src="assets/HelpCenter/mail.png" alt="">
                                <h5>
                                    Delivery options
                                </h5>  
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-4 pt-1 ">
            
             <div class="row sticky-top">
            <div class="col-12">
                <div class="FAq pb-2">

                    <li class="faq-heading lifaq p-4">FAQs</li>

                    <div class="col-12 p-1 pt-4 submenu">
                        <h3 (click)="showcontent(0)" class="submenuh3" [ngClass]="sectionLoaded == 0?'activemode':''">
                            My Orders
                        </h3>
                        <h3 (click)="showcontent(1)" class="submenuh3" [ngClass]="sectionLoaded == 1?'activemode':''">
                            Profile
                        </h3>
                        <h3 (click)="showcontent(2)" class="submenuh3" [ngClass]="sectionLoaded == 2?'activemode':''">
                            RFQs
                        </h3>
                    </div>

                    <div class="row" *ngIf="sectionLoaded==0">
                        
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne" (click)="toggleTextClass(0)"
                                        [ngClass]="selectedFaq ==0?'red-text':''">
                                        <p>What does DDP mean?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">DDP stands for "Delivered Duty Paid." It means that all
                                        import duties and taxes are
                                        included in the product price.
                                        You won't have to pay any additional charges upon delivery.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo" (click)="toggleTextClass(1)"
                                        [ngClass]="selectedFaq ==1?'red-text':''">
                                        <p>What is "Ex Works" (EXW)?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        "Ex Works" means the seller's responsibility ends once the product is made
                                        available at their premises.
                                        You'll need to arrange and pay for all shipping and customs-related expenses.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree" (click)="toggleTextClass(2)"
                                        [ngClass]="selectedFaq ==2?'red-text':''">
                                        <p>What's the estimated delivery time?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        The estimated delivery time is usually mentioned in the order confirmation
                                        email.
                                        It depends on the shipping method and your location.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour" (click)="toggleTextClass(3)"
                                        [ngClass]="selectedFaq ==3?'red-text':''">
                                        <p>Can I change my shipping address after placing the order?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Depending on the order status, you may or may not be able to change the shipping
                                        address.
                                        Contact our customer support for assistance.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFive" aria-expanded="false"
                                        aria-controls="flush-collapseFive" (click)="toggleTextClass(4)"
                                        [ngClass]="selectedFaq ==4?'red-text':''">
                                        <p>Do I have to pay customs duties for international orders?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Customs duties may apply depending on your country's regulations. For DDP
                                        orders, duties are included.
                                        For EXW orders, you'll be responsible for customs clearance.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSix" aria-expanded="false"
                                        aria-controls="flush-collapseSix" (click)="toggleTextClass(5)"
                                        [ngClass]="selectedFaq ==5?'red-text':''">
                                        <p>Can I change the shipping method after placing the order?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseSix" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Shipping method changes might be possible if your order hasn't shipped yet.
                                        Contact us to inquire about changing the shipping method.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                        aria-controls="flush-collapseSeven" (click)="toggleTextClass(6)"
                                        [ngClass]="selectedFaq ==6?'red-text':''">
                                        <p>I change items in my order after it's placed?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Unfortunately, once an order is placed, we can't modify the items.
                                        You may need to cancel and place a new order.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseEight" aria-expanded="false"
                                        aria-controls="flush-collapseEight" (click)="toggleTextClass(7)"
                                        [ngClass]="selectedFaq ==7?'red-text':''">
                                        <p>How do I know if my order has been shipped? </p>
                                    </button>
                                </li>
                                <div id="flush-collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        You'll receive an email with tracking information once your order is shipped.
                                        You can also track your order by clicking on "Track Order" in the "My Order"
                                        section of your account.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseNine" aria-expanded="false"
                                        aria-controls="flush-collapseNine" (click)="toggleTextClass(8)"
                                        [ngClass]="selectedFaq ==8?'red-text':''">
                                        <p>How can I download the invoice for my order? </p>
                                    </button>
                                </li>
                                <div id="flush-collapseNine" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        You can easily download the invoice by visiting the "My Order" section in your
                                        account,
                                        selecting the order, and clicking on the "Download Invoice" button.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingTen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTen" aria-expanded="false"
                                        aria-controls="flush-collapseTen" (click)="toggleTextClass(9)"
                                        [ngClass]="selectedFaq ==9?'red-text':''">
                                        <p>Where can I find the bill for my recent purchase? </p>
                                    </button>
                                </li>
                                
                                <div id="flush-collapseTen" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Log in to your account, navigate to the "My Order" page,
                                        and choose the order you need the bill for. Click on "Download Invoice" 
                                        to obtain the bill.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
        
                    <div class="row" *ngIf="sectionLoaded==1">
                       
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                              <li class="accordion-header lifaq" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                                  (click)="toggleTextClass(0)" [ngClass]="selectedFaq ==0?'red-text':''">
                                  <p>Is my personal information safe on your platform?</p>
                                </button>
                              </li>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  Absolutely. We have implemented robust security measures to ensure the confidentiality of your personal details.
                                </div>
                              </div>
                            </div>
              
                            <div class="accordion-item">
                              <li class="accordion-header lifaq" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                                  (click)="toggleTextClass(1)" [ngClass]="selectedFaq ==1?'red-text':''">
                                  <p>How do you use my email address?</p>
                                </button>
                              </li>
                              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  Your email address is used solely for communication purposes related to your account and platform updates. We never share it with third parties.
                                </div>
                              </div>
                            </div>
              
                            <div class="accordion-item">
                              <li class="accordion-header lifaq" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"
                                  (click)="toggleTextClass(2)" [ngClass]="selectedFaq ==2?'red-text':''">
                                  <p>What about my contact number? Is it secure?</p>
                                </button>
                              </li>
                              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  Yes, your contact number is secure. It is only used for account-related notifications and verification purposes.
                                </div>
                              </div>
                            </div>
              
                            <div class="accordion-item">
                              <li class="accordion-header lifaq" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour"
                                  (click)="toggleTextClass(3)" [ngClass]="selectedFaq ==3?'red-text':''">
                                  <p>Can others see my address and personal details?</p>
                                </button>
                              </li>
                              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  No, your personal information, including your address, is completely private. Only authorized personnel have access to such information.
                                </div>
                              </div>
                            </div>
              
                            <div class="accordion-item">
                              <li class="accordion-header lifaq" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive"
                                  (click)="toggleTextClass(4)" [ngClass]="selectedFaq ==4?'red-text':''">
                                  <p>How is my address used?</p>
                                </button>
                              </li>
                              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Your address is primarily used for shipping purposes if you make purchases on our platform. It is never shared with anyone else.
                                </div>
                              </div>
                            </div>
              
                            <div class="accordion-item">
                              <li class="accordion-header lifaq" id="flush-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix"
                                  (click)="toggleTextClass(5)" [ngClass]="selectedFaq ==5?'red-text':''">
                                  <p>Do you sell or share my information with advertisers?</p>
                                </button>
                              </li>
                              <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  No, we do not sell or share your personal information with any advertisers or third parties for marketing purposes.
                                </div>
                              </div>
                            </div>
              
                            <div class="accordion-item">
                              <li class="accordion-header lifaq" id="flush-headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven"
                                  (click)="toggleTextClass(6)" [ngClass]="selectedFaq ==6?'red-text':''">
                                  <p>Is my data covered by a privacy policy?</p>
                                </button>
                              </li>
                              <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  Yes, we have a comprehensive privacy policy that outlines how your data is collected, used, and protected. You can find it on our website.
                                </div>
                              </div>
                            </div>
              
                            <div class="accordion-item">
                              <li class="accordion-header lifaq" id="flush-headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight"
                                  (click)="toggleTextClass(7)" [ngClass]="selectedFaq ==7?'red-text':''">
                                  <p>How can I update or modify my personal details?*</p>
                                </button>
                              </li>
                              <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  You can easily update or modify your personal details by navigating to your profile settings on the platform.
                                </div>
                              </div>
                            </div>
              
                            <div class="accordion-item">
                              <li class="accordion-header lifaq" id="flush-headingNine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine"
                                  (click)="toggleTextClass(8)" [ngClass]="selectedFaq ==8?'red-text':''">
                                  <p>What should I do if I suspect any unauthorized activity on my account?</p>
                                </button>
                              </li>
                              <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">   If you notice any unusual activity, contact our support team immediately. We take swift action to address security concerns.
                                </div>
                              </div>
                            </div>
              
                          </div>
        
                    </div>
        
                    <div class="row" *ngIf="sectionLoaded==2">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne" (click)="toggleTextClass(0)"
                                        [ngClass]="selectedFaq ==0?'red-text':''">
                                        <p>What is an RFQ?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        An RFQ is a formal request made by a buyer to potential suppliers for quotations or bids for specific products or services. It's a standard procurement process to gather pricing and terms from suppliers.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo" (click)="toggleTextClass(1)"
                                        [ngClass]="selectedFaq ==1?'red-text':''">
                                        <p>Why should I use an RFQ?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        RFQs help buyers compare quotes from multiple suppliers, ensuring they get the best value for their purchase. It also provides a structured way to communicate requirements.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree" (click)="toggleTextClass(2)"
                                        [ngClass]="selectedFaq ==2?'red-text':''">
                                        <p>How do I create an RFQ?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Typically, you create an RFQ document outlining your requirements, including specifications, quantities, delivery terms, and any other relevant details. Then, you send this document to selected suppliers.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour" (click)="toggleTextClass(3)"
                                        [ngClass]="selectedFaq ==3?'red-text':''">
                                        <p>What information should be included in an RFQ?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        A well-prepared RFQ includes clear product or service descriptions, quantity, quality standards, delivery timelines, and any specific terms or conditions.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFive" aria-expanded="false"
                                        aria-controls="flush-collapseFive" (click)="toggleTextClass(4)"
                                        [ngClass]="selectedFaq ==4?'red-text':''">
                                        <p>Is an RFQ legally binding?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        No, an RFQ is usually not legally binding. It's a solicitation for offers, and it becomes binding when you accept a supplier's quotation and create a purchase order.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSix" aria-expanded="false"
                                        aria-controls="flush-collapseSix" (click)="toggleTextClass(5)"
                                        [ngClass]="selectedFaq ==5?'red-text':''">
                                        <p>How do I select the right supplier from RFQ responses?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseSix" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Evaluate responses based on factors like price, quality, delivery times, supplier reputation, and terms. Choose the supplier that best meets your needs.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                        aria-controls="flush-collapseSeven" (click)="toggleTextClass(6)"
                                        [ngClass]="selectedFaq ==6?'red-text':''">
                                        <p>What's the difference between an RFQ and an RFP (Request for Proposal)?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        While an RFQ focuses on pricing and specific product details, an RFP is a more comprehensive request that includes details about the project or service and seeks a solution or proposal from suppliers.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseEight" aria-expanded="false"
                                        aria-controls="flush-collapseEight" (click)="toggleTextClass(7)"
                                        [ngClass]="selectedFaq ==7?'red-text':''">
                                        <p>Can I negotiate with suppliers after receiving RFQ responses?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Yes, you can negotiate terms and conditions with suppliers, especially if you have specific requirements or need adjustments to their quotations.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseNine" aria-expanded="false"
                                        aria-controls="flush-collapseNine" (click)="toggleTextClass(8)"
                                        [ngClass]="selectedFaq ==8?'red-text':''">
                                        <p>What happens after I accept an RFQ response?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseNine" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        After accepting a supplier's quote, you typically create a purchase order (PO) with the agreed-upon terms, initiating the purchase process.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingTen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTen" aria-expanded="false"
                                        aria-controls="flush-collapseTen" (click)="toggleTextClass(9)"
                                        [ngClass]="selectedFaq ==9?'red-text':''">
                                        <p>Do I have to accept any of the RFQ responses?</p>
                                    </button>
                                </li>
                                
                                <div id="flush-collapseTen" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        No, you are not obligated to accept any of the responses. You can choose to decline all offers if they do not meet your requirements or expectations.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                
            </div>
            </div>
            
        </div>

    </div>
   
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-ourservices></app-ourservices>
        </div>
    </div>
</div>

<app-footer></app-footer>
