* {
    overflow: hidden;
}

.citycont {
    h4 {

        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;

    }

}

.citycols {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .imagediv {
        cursor: pointer;
        box-shadow: 0px 2px 6px 0px #0000001A;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {

            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 10px;
        }
    }
}