<div class="container">
    <div class="row">
        <div class="col-12" style="border-bottom:1px solid rgb(206, 206, 206)">
            <img src="../../assets/menu_icons/Negbuy banner logo.png" alt="" srcset="" height="80px">
        </div>
        <div class="col-12 imag">
            <img src="assets/logo/Page Not Found 1.png" alt="" srcset="" >

            <h1>The page you are looking doesn’t exist</h1>
                <button routerLink="">Homepage</button>
        </div>
    </div>
</div>