<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a> Electronic Accessories </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()"> Cables Clips </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Audio & Video Cables </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Storage & Data Transfer Cables </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> System & Power Cables </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Network Cables </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn"> View all </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9 col-md-8">
      <div class="row p-md-2 pt-4">

        <div class="col-12  mt-3">
          <p class="animalheadingleft">Electronic Accessories</p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/ElectronicEqupment/Audio.webp"
                  alt="Audio accessories – high-quality audio gear for your electronic needs " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Audio Accessories</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Headphone Accessories</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Karaoke Accessories</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Microphone Accessories</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Speaker Accessories</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/ElectronicEqupment/audioComponent (1).webp"
                  alt="Audio components – essential parts for your audio equipment " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Audio Components</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext ">Audio Amplifiers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">A/V Receivers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Audio transmitters</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Signal Processors</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar ">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/ElectronicEqupment/Cables.webp"
                  alt="Cables – a variety of cables for all electronic devices " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Cables</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">A/V Cables</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Data Transfer Cables</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">KVM Cables</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Telephone Cables</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/ElectronicEqupment/Computer.webp"
                  alt="Computers – laptops, desktops, and accessories " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Computer</p>
                  <div class="hr"></div>

                  <div class=" myscroll">
                    <p (click)="RouteToProductPage()" class="cont-subtext ">Keyboard</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Monitor</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext ">Mouse</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext ">Wrist Rests</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/ElectronicEqupment/Electronic Films (1).webp"
                  alt="Electronic film – specialized film for electronic applications " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Electronic Films</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Keyboard Protectors</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Privacy filters</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Screen Protectors </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Stickers & Decals</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/ElectronicEqupment/marine.webp"
                  alt="Marine electronics – navigation and communication tools for boats " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Marine Electronics</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">A/V Receivers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Fish Fingers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Marine Radar</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Marine Speakers</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>