<app-mainheader></app-mainheader>
<div class="container-fluid header-margin pb-5">
    <div class="row px-2 px-sm-4 justify-content-center mt-5">
        <div class="col-8 col-sm-7 col-md-6 col-lg-5 col-xl-3 align-self-center mt-3">
            <div class="d-flex flex-column">
                <span class="section-title">Our Services</span>
                <span class="heading">We provide the best services to make your business easy and profitable
                </span>
            </div>
        </div>      
    </div>
    <div class="row px-2 px-sm-4 justify-content-center mt-5">
        <div class="col-sm-6 col-md-5 align-self-center order-2 order-sm-1 mt-3">
            <div class="d-flex flex-column">
                <span class="section-title">Logistic Support</span>
                <span class="section-description">It covers from the supply and stock management to transport/dispatch
                    related matters, customs clearances, insurances, vehicles registration, inventory/assets management
                    tasks including rental properties and maintenance.</span>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 align-self-center order-1 order-sm-2 mt-3">
            <div class="row justify-content-center">
                <div class="col-8 col-sm-11 col-lg-8 d-flex flex-column">
                    <img src="assets/servicesblog/logistic_support.webp" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="row px-2 px-sm-4 justify-content-center mt-5">
        <div class="col-sm-6 col-md-5 align-self-center">
            <div class="row justify-content-center">
                <div class="col-8 col-sm-11 col-lg-8 d-flex flex-column">
                    <img src="assets/servicesblog/technical_support.webp" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 align-self-center">
            <div class="d-flex flex-column">
                <span class="section-title">Technical Support</span>
                <span class="section-description">how online businesses provide assistance to customers with everything
                    from making online purchase decisions to resolving issues — all while creating a seamless customer
                    experience across channels and platforms.</span>
            </div>
        </div>
    </div>
    <div class="row px-2 px-sm-4 justify-content-center mt-5">
        <div class="col-sm-6 col-md-5 align-self-center order-2 order-sm-1 mt-3">
            <div class="d-flex flex-column">
                <span class="section-title mt-2 mt-sm-0">RFQ Submission</span>
                <span class="section-description"> a formal document that announces the bidding process between B2B
                    software vendors. It includes a list of questions SaaS companies have to answer for you to select
                    the one ecommerce platform that will suit your business needs.</span>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 align-self-center order-1 order-sm-2 mt-3">
            <div class="row justify-content-center">
                <div class="col-8 col-sm-11 col-lg-8 d-flex flex-column">
                    <img src="assets/servicesblog/rfq_submission.webp" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="row px-2 px-sm-4 justify-content-center mt-5">
        <div class="col-sm-6 col-md-5 align-self-center">
            <div class="row justify-content-center">
                <div class="col-8 col-sm-11 col-lg-8 d-flex flex-column">
                    <img src="assets/servicesblog/daily_rfq.webp" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 align-self-center">
            <div class="d-flex flex-column">
                <span class="section-title">Daily RFQ </span>
                <span class="section-description"> is a process in which a company solicits select suppliers and
                    contractors to submit price quotes and bids for the chance to fulfill certain tasks or
                    projects.</span>
            </div>
        </div>
    </div>
    <div class="row px-2 px-sm-4 justify-content-center mt-5">
        <div class="col-sm-6 col-md-5 align-self-center order-2 order-sm-1 mt-3">
            <div class="d-flex flex-column">
                <span class="section-title mt-2 mt-sm-0">Payment Support</span>
                <span class="section-description"> online credit card transactions, e-wallets, e-cash and wireless
                    payment system.</span>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 align-self-center order-1 order-sm-2 mt-3">
            <div class="row justify-content-center">
                <div class="col-8 col-sm-11 col-lg-8 d-flex flex-column">
                    <img src="assets/servicesblog/payment_support.webp" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<app-ourservices></app-ourservices>
<app-footer></app-footer>