.section-title {
    
    font-style: normal;
    font-weight: 500;
    font-size: 1.9em;
    text-align: center;
    color: #262626;
}

.section-description {
    
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 18px;
    text-align: center;
    color: #262626;
    margin-top: 15px;
}

.heading {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    text-align: center;
    margin-top: 12px;
    color: #262626;
}