
<app-office-supplies></app-office-supplies>

<app-product-carousel [products]="products_slide[0]?.category_data1" [category]="products_slide[0]?.category"
    [products_two]="products_slide[0]?.category_data2" [loader]="loader" [spinnerBuyNow]="spinnerBuyNow"
    [userlogin]="userlogin">
</app-product-carousel>

<app-apparel-accessories></app-apparel-accessories>

<app-product-carousel [products]="products_slide[1]?.category_data1" [category]="products_slide[1]?.category"
    [products_two]="products_slide[1]?.category_data2" [loader]="loader" [spinnerBuyNow]="spinnerBuyNow"
    [userlogin]="userlogin">
</app-product-carousel>