<div class="container-fluid">
  <div class="row Apparelz">

    <div class="col-lg-9 col-md-8">
      <div class="row p-sm-2 pt-4 ">

        <div class="col-12  mt-3">
          <p class="animalheading">
            Apparel & Accessories
          </p>

          <hr>
          <div class="row">

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Apparel-Accessories/clothing.webp" alt="Clothing – trendy apparel for all occasions" />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Clothing</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Active Wear</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Mens Wear</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Sleep Wear</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Womens Wear</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Apparel-Accessories/Hair.webp" alt="Hair accessories – clips, bands, and more for styling " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Hair Accessories</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Hair Combs</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Hair Extensions</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Headbands</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Wigs</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Apparel-Accessories/Suits.webp" alt="Outerwear – jackets, coats, and other outer garments " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Outwear</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Coats</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Rain Pants</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Rain Suits</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Vests</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Apparel-Accessories/Bags.webp" alt="Bags and cases – stylish and functional bags for various needs " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Bags & Cases</p>
                  <div class="hr"></div>

                  <p class="cont-subtext ">Backpacks </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Briefcase</p>
                  <p class="cont-subtext ">Handbags</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext "> Wallet</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Apparel-Accessories/jewelry.webp" alt="Jewelry – elegant and fashionable jewelry pieces " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Jewellery</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Anklets</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Necklaces</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Pendants</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Rings</p>
                </div>
              </div>
            </div>
            
            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Apparel-Accessories/Footwear.webp" alt="Footwear – shoes, boots, and sandals for all occasions " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">
                    Footwear
                  </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Boots</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Heels</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Shoes</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Slippers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <span>
          <p class="poster-head">
            <a> Apparel & Accessories </a>
          </p>
          <div class="myunderline"></div>
          <ul>
            <li>
              <a (click)="RouteToProductPage()">Clothing </a>
            </li>
            <li>
              <a (click)="RouteToProductPage()">Clothing Accessories
              </a>
            </li>
            <li>
              <a (click)="RouteToProductPage()"> Costumes & Accessories
              </a>
            </li>
            <li>
              <a (click)="RouteToProductPage()">Handbags & Accessories</a>
            </li>

            <li>
              <a (click)="RouteToProductPage()"> Jewellery</a>
            </li>
            <li>
              <a (click)="RouteToProductPage()" class="view-btn">View All</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>