<div class="container-fluid">
  <div class="row Apparelz">

    <div class="col-lg-9 col-md-8">
      <div class="row p-sm-2 pt-4 ">

        <div class="col-12  mt-3">
          <p class="animalheading">
            Business Industrial
          </p>

          <hr>
          <div class="row">
            <div class="col-xl-4 col-md-6  p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Business/dentist.webp"
                  alt="Dentistry supplies – dental tools and equipment for professionals " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Dentistry</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Dental Cement</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Dental Mirrors</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Dental Tools</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Prophy Cups</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6  p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Business/Food service.webp"
                  alt="Food services – equipment and supplies for food preparation " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Food Service</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Bakery Boxes</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Bus Tubs</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Disposable Lids</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Vending Machines</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6  p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Business/Industrial storage.webp"
                  alt="Industrial storage – solutions for storing industrial materials " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Industrial Storage </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Industrial Cabinets </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Industrial Selvings</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Shipping Containers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Wire Partitions</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6  p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Business/Material Handeling.webp"
                  alt="Material handling – equipment for moving and managing materials " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Material Handling</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Conveyors</p>
                  <p class="cont-subtext ">Lifts & Hoists </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Personnel Lifts</p>
                  <p class="cont-subtext ">Winches</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6  p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Business/Medical.webp"
                  alt="Medical – healthcare products and equipment for medical use " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead"> Medical</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Medical Equipment</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Medical Furniture</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Medical Instruments</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Medical Supplies</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6  p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/Business/Science and laboratory.webp"
                  alt="Science and technology – tools and equipment for scientific research " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">
                    Science & Laboratory
                  </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Biochemicals</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Dissection Kits</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Laboratory Specimens</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Laboratory Supplies</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <span>
          <p class="poster-head">
            <a> Business Industrial </a>
          </p>
          <div class="myunderline"></div>
          <ul>
            <li>
              <a (click)="RouteToProductPage()">Dental Cement </a>
            </li>
            <li>
              <a (click)="RouteToProductPage()">Dental Tools
              </a>
            </li>
            <li>
              <a (click)="RouteToProductPage()"> Prophy Cups </a>
            </li>
            <li>
              <a (click)="RouteToProductPage()"> Dental Mirrors </a>
            </li>

            <li>
              <a (click)="RouteToProductPage()"> Prophy Paste </a>
            </li>
            <li>
              <a (click)="RouteToProductPage()" class="view-btn">View All</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>