.red-text {
  p {
    color: #F54646 !important;
  }
}

.sticky-top {
  top: 70px;
  position: sticky;
  z-index: 1 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // z-index: 0;
}


$fontSize: 15px;
$fontSize2: 20px;

input.ng-invalid.ng-touched {
  border: 1px solid #d70000 !important;
  /*change color if you want*/
  color: #d70000 !important;
}

.activeradio {
  border: 1px solid rgb(245, 164, 169) !important;
  box-shadow: 0px 2px 6px 0px #0000001F;

  span {
    color: #F54646;
  }
}

@mixin fontstyle($font-size, $font-weight) {
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: 115.9%;
  /* or 21px */
  color: rgba(38, 38, 38, 0.8);
}

@mixin showdow {
  // background: #ffffff;
  box-shadow: 0px 2px 16px 0px #9F989820;
  border: 2px solid #0000000D;
}

@mixin selction {
  border: 1px solid rgba(38, 38, 38, 0.23);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

@mixin inputbox {
  border: 1px solid rgba(216, 216, 216, 0.81);
  border-radius: 1px;
}

.activemode {
  margin: 0;

  font-size: 1em;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 7px;
  border-bottom: 2px solid #1b916d !important;
  background-color: #D9D9D95E;
  height: 100%;
  padding: 10px 10px;
  cursor: pointer;
}

.greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(81 74 74 / 25%);
  box-shadow: 0px 3px 6px 0px rgba(167, 163, 163, 0.25);
  background-color: white;

  img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 5px;
  }

  h3 {

    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #634040;
    height: 45px;
    margin: 0;
    margin-top: 10px;

    span {
      font-weight: 600;
    }
  }

  &-order {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F54646;
    height: 45px;
    margin: 0;
    margin-right: 25px;
    margin-top: 10px;
  }
}

.submenu {
  border-bottom: 1px solid #0000001C;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  background-color: white;

  h3 {
    cursor: pointer;
    margin: 0;

    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    height: 100%;
    padding: 10px 10px;
  }

  .submenuh3 {
    margin-left: 9px;
  }
}

.submenu1 {

  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  background-color: white;
  display: flex;

  h3 {
    cursor: pointer;
    margin: 0;

    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    height: 100%;
    padding: 10px 10px;
  }

  .submenuh3 {
    margin-left: 9px;
  }
}

.open {
  border-bottom: 1px solid #0000001C;
  max-height: 1000px;
  transition: max-height 6.5s ease-out;

}

.exwork_order_box {
  cursor: default;
  margin-top: 15px;
  border: 1px solid #E3E3E3CF;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.81)),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);

  .imgBox2 {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 185px;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .descBox {
    padding: 6px;

    p {
      padding-right: 9px;

      font-size: 1em;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      cursor: default;
      margin: 0;
    }

    h3 {
      margin: 0;
      margin-top: 10px;

      font-size: 1em;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;

      span {

        font-size: 1em;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

      }
    }

    &-col1 {
      text-align: right;

      a {

        font-size: 1em;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: right;
        color: #262626E3;
        cursor: pointer;
      }

      a:hover {
        color: #0099ff;
      }
    }

  }

  .arrow {
    display: flex;
    justify-content: flex-end;

    button {
      border: 1px solid black;
      background-color: white;
      padding: 6px;

      font-size: 14px;
      font-weight: 600;
      line-height: 18.54px;
      text-align: left;


    }

    button:hover {
      box-shadow: -1px 2px 9px 1px rgb(112 112 112) !important;
      color: white;
      border: 1px solid #1b916d;
      background: #1b916d;
      box-shadow: 0px -4px 6px 0px #00000026 inset;
    }
  }

}

.FAq {
  @include showdow();
  height: auto;

  .faq-heading {
    padding: 2.2%;

  }

  .lifaq {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

  .accordion-header {
    border-top: 1px solid #57555512;

    button {
      padding: 5px 12px 0 12px;
      padding-bottom: 0;
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 50px;

      p {

        font-size: 1.4em;
        font-weight: 451;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #262626;
      }
    }
  }

  .accordion-body {
    border-top: 1px solid #57555512;
    padding: 5px 12px 0 12px;

    .accordion-body {

      font-size: 1.4em;
      font-weight: 451;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #262626;
    }
  }

  li:nth-child(1) {
    @include fontstyle(20px, 600);
    color: black;
  }
}

.accordion-button {
  background-color: transparent !important;

}

.accordion-header {
  button {
    p {
      border: none !important;
    }
  }
}

@media only screen and (max-width: 768px) {

  .activemode {

    font-size: 0.9em;

  }

  .greeting {

    &-order {
      display: none;
    }
  }

  .submenu {

    h3 {
      font-size: 0.7em;
    }
  }

  .exwork_order_box {
    .imgBox {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .descBox {
      h3 {
        margin-top: 15px;
      }
    }

    .sampledoc {
      padding: 0px;
      margin-top: 12px;
    }

    .formside {
      &-col1 {
        display: flex;
        justify-content: flex-start;
        padding-left: 18px;
      }

      &-mainform {
        padding-left: 15px;

        .submit {
          margin-top: 17px;
        }
      }


    }

    .add_amount {

      &-amount {
        flex-direction: row;
        display: flex;
        justify-content: flex-start;

        h4 {
          font-size: 1em;
        }

        span {
          font-size: 1em;
        }
      }

      &-amountpaid {
        display: flex;
        justify-content: flex-start;

        span {
          font-size: 1em;
        }
      }

      &-address {
        margin-top: 10px;

        h4 {
          font-size: 0.9em;
        }

        p {
          font-size: 0.9em;

        }
      }
    }

    .orderId {
      width: 50%;
      font-size: 0.9em;
    }

  }

  .FAq {
    .accordion-header {

      button {
        p {
          font-size: 1.2em;
        }
      }
    }

    .accordion-body {
      border-top: 1px solid #57555512;
      padding: 5px 12px 0 12px;

      .accordion-body {
        font-size: 1.2em;
      }
    }
  }

}