<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 colimg">
            <div class="conts">
                <span>
                    <p class="poster-head">
                        <a> Toys & Games </a>
                    </p>
                    <div class="myunderline"></div>
                    <ul>
                        <li>
                            <a (click)="RouteToProductPage()">Battle Top Accessories </a>
                        </li>
                        <li>
                            <a (click)="RouteToProductPage()">Battle Tops
                            </a>
                        </li>
                        <li>
                            <a (click)="RouteToProductPage()"> Blackjack & Craps Sets </a>
                        </li>
                        <li>
                            <a (click)="RouteToProductPage()"> Card Games </a>
                        </li>
                        <li>
                            <a (click)="RouteToProductPage()"> Poker Chips & Sets </a>
                        </li>
                        <li>
                            <a (click)="RouteToProductPage()" class="view-btn">View All</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row p-sm-2 pt-4 ">

                <div class="col-12  mt-3">
                    <p class="animalheadingleft">
                        Toys & Games
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
                            <div class="animal-contts">
                                <img loading="lazy" src="../../../assets/games/Rectangle.webp"
                                    alt="Outdoor play – toys and equipment for outdoor fun " />
                                <div class="cont-Subhead-div ">
                                    <p class="cont-Subhead">Outdoor Play</p>
                                    <div class="hr"></div>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Playhouses</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Sandboxes</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">See Saw</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Trampolines</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
                            <div class="animal-contts">
                                <img loading="lazy" src="../../../assets/games/Rectangle2.webp"
                                    alt="Activity toys – engaging and educational toys for children " />
                                <div class="cont-Subhead-div ">
                                    <p class="cont-Subhead">Activity Toys</p>
                                    <div class="hr"></div>

                                    <p (click)="RouteToProductPage()" class="cont-subtext">Bouncy Balls</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Marbles</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Spinning Tops</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext ">Yo-Yos</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
                            <div class="animal-contts">
                                <img loading="lazy" src="../../../assets/games/Rectangle3.webp"
                                    alt="Dolls and playsets – imaginative play items for kids " />
                                <div class="cont-Subhead-div ">
                                    <p class="cont-Subhead">Dolls & Playsets</p>
                                    <div class="hr"></div>

                                    <p (click)="RouteToProductPage()" class="cont-subtext">Dolls</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Doll houses</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Stuffed Animals</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Stuffed Animals</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
                            <div class="animal-contts">
                                <img loading="lazy" src="../../../assets/games/Rectangle4.webp"
                                    alt="Puzzles – brain-teasing and fun puzzles for all ages " />
                                <div class="cont-Subhead-div ">
                                    <p class="cont-Subhead">Puzzles</p>
                                    <div class="hr"></div>

                                    <p (click)="RouteToProductPage()" class="cont-subtext">Jigsaw Puzzle </p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext "> Mechanical Puzzles</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Puzzles Accessories</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext ">Wooden Puzzles</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
                            <div class="animal-contts">
                                <img loading="lazy" src="../../../assets/games/Rectangle5.webp"
                                    alt="Games – board games, card games, and more for family fun " />
                                <div class="cont-Subhead-div ">
                                    <p class="cont-Subhead">Games</p>
                                    <div class="hr"></div>

                                    <p (click)="RouteToProductPage()" class="cont-subtext">Board Games</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Bingo Sets</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Battle Tops</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Card Games</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
                            <div class="animal-contts">
                                <img loading="lazy" src="../../../assets//games/Rectangle6.webp"
                                    alt="Toy vehicles – cars, trucks, and other toy vehicles for children " />
                                <div class="cont-Subhead-div ">
                                    <p class="cont-Subhead">
                                        Toy Vehicles
                                    </p>
                                    <div class="hr"></div>

                                    <p (click)="RouteToProductPage()" class="cont-subtext">Toy Airplanes</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Toy Cars</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext ">Toy Motorcycles</p>
                                    <p (click)="RouteToProductPage()" class="cont-subtext">Toy Race Car</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>