<div class="container-fluid">
  <div class="row">

    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a (click)="RouteToProductPage()">Auto Parts & Accessories </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()"> Motor Boat </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Car,Truck & Van </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Golf Cart </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Motor cycles & Scooters </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Off-road Vehicles </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn"> View all </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <div class="row p-sm-2 pt-4">

        <div class="col-12  mt-3">
          <p class="animalheadingleft">
            Auto Parts & Accessories
          </p>

          <hr>
          <div class="row">
            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/vehiclePart/Electronic.webp"
                  alt="Automobile electronics – car audio systems, navigation, and more " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Automobiles Electronics</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Auto A/V Players</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Auto Amplifiers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Auto Parking Cameras</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Auto Speakers</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/vehiclePart/autoparts.webp"
                  alt="Automobile parts – replacement and upgrade parts for vehicles " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Automobiles Parts</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Automobiles Brakes</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Automobiles Engines</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Automobiles Mirrors</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Engine Parts</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/vehiclePart/Autopainting.webp"
                  alt="Automobile care – cleaning and maintenance products for cars " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Automobile Care</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Automobile Cleaning</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Automobile Covers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Automobile Decors</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Air Frasherners</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/vehiclePart/safety.webp"
                  alt="Safety and security – products for vehicle safety and security " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Safety & Security</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Auto Alarm & locks</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Auto Protective Gear</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Auto Safety Equipment</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Seatbelts</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/vehiclePart/Cargo.webp"
                  alt="Cargo and nets – securing and transporting goods with ease " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Cargo & Nets</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Automotive Trailers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Cargo Nets</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Carrying Racks</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Motorcycle Bags</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/vehiclePart/Watercraft.webp"
                  alt="Watercraft parts – components and accessories for boats and watercraft " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Watercraft Parts</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Docking & Anchoring</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Watercraft Care </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Watercraft Part</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Watercraft Fuel System </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>