$textColor: #F01727;

@mixin commonhead {

  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  color: #262626CF;
}

@mixin showdow {
  // background: #ffffff;
  box-shadow: 0px 2px 16px 0px #9F98982A;
  border: 2px solid #0000000D;
}

// New Design 

.navbarPayment {
  box-shadow: 0px 2px 6px 0px #9F98982A;

  &-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-page {
    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 1.4em;
    font-weight: 500;
    line-height: 27.82px;
    text-align: left;

  }

  &-secure {
    display: flex;
    justify-content: flex-end;
    align-items: center;


    font-size: 1.1em;
    font-weight: 500;
    line-height: 27.82px;
    text-align: left;

  }


}

.logo {
  height: 64px;
  cursor: pointer;
}

.newDesign {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &-greeting {
    padding: 80px 0px 0px 50px !important;

    h3 {

      font-size: 2.9em;
      font-weight: 500;
      line-height: 51.84px;
      text-align: left;
      margin-top: 10px;

      i {
        color: #138808;
        font-size: 0.8em;
      }
    }

    h4 {

      font-size: 1.4em;
      font-weight: 400;
      line-height: 19.44px;
      text-align: left;
      margin-top: 10px;

    }

    h5 {

      font-size: 1.3em;
      font-weight: 500;
      line-height: 19.44px;
      text-align: left;
      margin-top: 20px;

    }

    p {

      font-size: 1em;
      width: 70%;
      font-weight: 400;
      line-height: 25.02px;
      text-align: left;
      margin-top: 10px;

    }

    button {
      margin-top: 10px;
      width: 219px;
      height: 39px;
      border-radius: 2px;
      border: 1px solid rgb(12 111 81);
      color: rgb(12 111 81);
      font-size: 15px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
    }

    button:hover {
      color: white;
      background: #1b916d;
      box-shadow: 0px -4px 6px 0px #00000026 inset;
    }
  }

  &-detailOrder {

    .orderconfirmrowhead {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      border-bottom: 2px solid #00000017;
      padding-bottom: 8px;

      p {

        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        display: flex;
        align-items: center;
      }

    }

    .orderDetails {
      display: flex;
      // justify-content: space-between;
      flex-direction: column;

      h4 {

        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #262626C2;
        margin: 0;
      }

      h3 {
        margin-top: 13px;
        margin-bottom: 5px;

        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #22202096;

        span {
          color: #ffffff;
          font-weight: 600;
          padding: 8px;
          border-radius: 5px;
          border: 1px solid rgb(12 111 81);
          box-shadow: 1px 4px 4px 0px rgb(28 19 19 / 13%);
          background-color: rgb(12 111 81);
          cursor: pointer;
        }

        span:hover {
          background: #1b916d;
          box-shadow: 0px -4px 6px 0px #00000026 inset;
        }

      }

    }


    .buttonss {
      p {

        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #262626C2;

        span {
          color: rgb(12 111 81);
          cursor: pointer;
        }
      }

      button {
        width: 209px;
        height: 33px;
        border-radius: 2px;

        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        border: none;
        background: rgb(12 111 81);
      }

      button:hover {
        background: #1b916d;
        box-shadow: 0px -4px 6px 0px #00000026 inset;
      }
    }

  }

  &-productDetail {
    background-color: #A5A5A50D;

    .orderconfirmrowhead {
      display: flex;
      justify-content: space-between;
      padding-bottom: 8px;

      p {

        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
      }

    }

    .orderDetails {
      display: flex;
      flex-direction: column;
      padding: 6px;
      border-top: 1px solid #00000033;
      border-bottom: 1px solid #00000033;



      h4 {

        font-size: 12px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #262626C2;
        margin: 0;
      }

      h3 {
        margin-top: 5px;
        margin-bottom: 5px;

        font-size: 11px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #22202096;

        span {
          color: #ffffff;
          font-weight: 600;
          padding: 8px;
          border-radius: 5px;
          border: 1px solid rgb(12 111 81);
          box-shadow: 1px 4px 4px 0px rgb(28 19 19 / 13%);
          background-color: rgb(12 111 81);
          cursor: pointer;
        }

        span:hover {
          background: #1b916d;
          box-shadow: 0px -4px 6px 0px #00000026 inset;
        }
      }

    }

    .productdetailCont {

      .productdetail {
        padding-bottom: 5px;

        .modalprofile {
          cursor: pointer;

          &-img {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-width: 100%;
              max-height: 100%;
            }
          }

          &-name {
            display: flex;
            align-items: center;

            font-size: 14px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            color: #262626CF;
          }
        }

        &-head1 {
          h3 {
            height: 100%;
            display: flex;
            align-items: center;

            font-size: 12px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0em;
            color: #262626CF;
            margin: 6px;
          }
        }

        &-head2 {
          display: flex;
          justify-content: flex-end;

          h5 {
            margin: 5px;
            height: 100%;
            display: flex;
            align-items: center;

            font-size: 12px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0em;
            color: #26262696;
          }
        }
      }


    }

    .total {
      box-shadow: 0px 2px 6px 0px #9F98982A;
      border-top: 2px solid #00000017;

      h3 {
        padding: 5px;
        padding-left: 0px;
        height: 100%;
        display: flex;
        align-items: center;

        font-size: 12px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        color: rgb(12 111 81);
        cursor: pointer;
      }

      h5 {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        display: flex;
        align-items: center;

        font-size: 12px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        color: rgb(12 111 81);
      }
    }

    .warehouseDetail {
      h4 {

        font-size: 14px;
        font-weight: 500;
        line-height: 12.96px;
        text-align: left;

      }

      p {
        margin-top: 8px;

        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

      }
    }

  }
}

@media (max-width: 767px) {

  .newDesign {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    &-greeting {
      padding: 40px 0px 0px 10px !important;

      h3 {
        font-size: 2em;
      }
    }

  }

}




$font-sizeInvoice: 2vmax;
$font-sizeTable: 1.6vmax;
$line-heightInvoice: 3.9vmax;

.negbuyInvoice {
  border: 2px solid black;
  position: relative;

  .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* height: 300px; */
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
  }



  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid black;

    img {
      height: 110px;
    }

    h3 {
      font-size: 44px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .companyinfo {
    padding: 10px 20px;
    border-bottom: 2px solid black;

    p {
      color: black;
      margin: 0;
      padding: 0;
      padding-top: 5px;
      font-size: $font-sizeInvoice;
      word-spacing: 2px;
      line-height: $line-heightInvoice;
      font-weight: 500;

      span {
        font-size: $font-sizeInvoice;

        word-spacing: 2px;
        line-height: $line-heightInvoice;
        font-weight: 600;
      }
    }
  }

  .buyerDetail {
    padding: 10px 20px;
    border-bottom: 2px solid black;

    p {
      color: black;
      margin: 0;
      padding: 0;
      padding-top: 5px;
      font-size: $font-sizeInvoice;
      word-spacing: 2px;
      line-height: $line-heightInvoice;
      font-weight: 500;

      span {
        font-size: $font-sizeInvoice;

        word-spacing: 2px;
        line-height: $line-heightInvoice;
        font-weight: 600;
      }
    }

    .note {
      font-size: 16px;
      line-height: 18px;
      font-weight: 600;
    }
  }

  .tableData {
    padding: 0px 40px;
    padding-right: 0;
    color: black !important;

    .tableProductName {
      width: 30%;
    }

    .totalPrice {
      font-weight: 500;
      font-size: $font-sizeInvoice;
      word-spacing: 2px;
      line-height: $line-heightInvoice;

      span {
        font-size: $font-sizeInvoice;

        word-spacing: 2px;
        line-height: $line-heightInvoice;
        font-weight: 600;
      }
    }

    table {

      thead,
      tbody {
        tr {

          th,
          td {
            font-size: $font-sizeTable;
            font-weight: 500;
            line-height: $line-heightInvoice;
            padding: 5px 4px;
          }
        }
      }


    }
  }

  .signature {
    padding: 90px 20px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: flex-end;

    h4 {
      font-size: 34px;
    }
  }

  .termsCondition {
    padding: 60px 20px;

    h3 {
      padding: 0;
      margin: 0;
      font-size: 44px;
      line-height: $line-heightInvoice;
      font-weight: 500;
    }

    p {
      color: black;
      margin: 0;
      padding: 0;
      padding-top: 6px;
      font-size: $font-sizeInvoice;
      word-spacing: 2px;
      line-height: $line-heightInvoice;
      font-weight: 500;

      span {
        font-size: $font-sizeInvoice;

        word-spacing: 2px;
        line-height: $line-heightInvoice;
        font-weight: 600;
      }
    }
  }
}

table {
  --bs-table-bg: transparent;
}

@media (max-width: 980px) {

  $font-sizeInvoice: 1.5vmax;
  $font-sizeTable: 1.4vmax;
  $line-heightInvoice: 3.5vmax;

  .negbuyInvoice {

    .header {
      img {
        height: 90px;
      }

      h3 {
        font-size: 34px;
      }
    }

    .companyinfo {
      padding: 10px 20px;
      border-bottom: 2px solid black;

      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;

          word-spacing: 2px;
          line-height: $line-heightInvoice;
          font-weight: 600;
        }
      }
    }

    .buyerDetail {
      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }

      .note {
        font-size: 11px;
      }
    }

    .tableData {
      .totalPrice {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }

      table {

        thead,
        tbody {
          tr {

            th,
            td {
              font-size: $font-sizeTable;
              line-height: $line-heightInvoice;
            }
          }
        }


      }
    }

    .signature {
      h4 {
        font-size: 24px;
      }
    }

    .termsCondition {

      h3 {
        font-size: 24px;
        line-height: $line-heightInvoice;
        ;
      }

      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }
    }
  }

}

@media (max-width: 681px) {

  $font-sizeInvoice: 1.3vmax;
  $font-sizeTable: 1.1vmax;
  $line-heightInvoice: 1.7vmax;

  .negbuyInvoice {

    .header {
      img {
        height: 70px;
      }

      h3 {
        font-size: 28px;
      }
    }

    .companyinfo {
      padding: 10px 20px;
      border-bottom: 2px solid black;

      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;

          word-spacing: 2px;
          line-height: $line-heightInvoice;
          font-weight: 600;
        }
      }
    }

    .buyerDetail {
      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }

      .note {
        font-size: 7px;
        font-weight: bold;
        line-height: 10px;
      }
    }

    .tableData {
      padding: 10px 0 10px 20px;

      .totalPrice {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }

      table {

        thead,
        tbody {
          tr {

            th,
            td {
              font-size: $font-sizeTable;
              line-height: $line-heightInvoice;
            }
          }
        }


      }
    }

    .signature {
      padding: 30px 20px;

      h4 {
        font-size: 24px;
      }
    }

    .termsCondition {

      h3 {
        font-size: 24px;
        line-height: $line-heightInvoice;
        ;
      }

      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }
    }
  }

}

@media (max-width: 541px) {

  $font-sizeInvoice: 1vmax;
  $font-sizeTable: 1vmax;
  $line-heightInvoice: 1.7vmax;

  .negbuyInvoice {

    .header {
      img {
        height: 40px;
      }

      h3 {
        font-size: 20px;
      }
    }

    .companyinfo {
      padding: 10px 20px;
      border-bottom: 2px solid black;

      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;

          word-spacing: 2px;
          line-height: $line-heightInvoice;
          font-weight: 600;
        }
      }
    }

    .buyerDetail {
      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }

      .note {
        font-size: 7px;
        font-weight: bold;
        line-height: 10px;
      }
    }

    .tableData {
      padding: 10px 0 10px 20px;

      .totalPrice {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }

      table {

        thead,
        tbody {
          tr {

            th,
            td {
              font-size: $font-sizeTable;
              line-height: $line-heightInvoice;
            }
          }
        }


      }
    }

    .signature {
      padding: 20px 20px;

      h4 {
        font-size: 20px !important;
      }
    }

    .termsCondition {

      h3 {
        font-size: 20px !important;
        line-height: $line-heightInvoice;
        ;
      }

      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }
    }
  }

}


@media (max-width: 474px) {

  $font-sizeInvoice: 1vmax;
  $font-sizeTable: 1vmax;
  $line-heightInvoice: 1.4vmax;

  .negbuyInvoice {

    .header {
      img {
        height: 20px;
      }

      h3 {
        font-size: 15px;
      }
    }

    .companyinfo {
      padding: 20px 10px;
      border-bottom: 2px solid black;

      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;

          word-spacing: 2px;
          line-height: $line-heightInvoice;
          font-weight: 600;
        }
      }
    }

    .buyerDetail {
      padding: 20px 10px;

      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }

      .note {
        font-size: 7px;
        font-weight: bold;
        line-height: 10px;
      }
    }

    .tableData {
      padding: 10px 0 10px 0px;

      .totalPrice {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }

      table {

        thead,
        tbody {
          tr {

            th,
            td {
              font-size: $font-sizeTable;
              line-height: $line-heightInvoice;
            }
          }
        }


      }
    }

    .signature {
      padding: 20px 10px;

      h4 {
        font-size: 15px !important;
      }
    }

    .termsCondition {
      padding: 20px 10px;

      h3 {
        font-size: 15px !important;
        line-height: $line-heightInvoice;
      }

      p {
        font-size: $font-sizeInvoice;
        line-height: $line-heightInvoice;

        span {
          font-size: $font-sizeInvoice;
          line-height: $line-heightInvoice;
        }
      }
    }
  }

}