@import "src/app/profile/helpcenter/delivery/delivery.component.scss";

.sss {
    margin: auto;
    padding: auto;
}

.section-title {

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: rgb(12 111 81);
    margin-top: 5px;
    text-align: center;
}

.underline {
    border: 0.5px solid #9A9A9A;
    background-color: #9A9A9A;
    margin: 0px 15px 15px 15px;
    align-self: center;
}

.line-1 {
    width: 90px;
}

.teamDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    height: 100%;

    img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
    }

    h5 {
        margin: 0;
        margin-top: 10px;
        padding: 0;

        font-style: normal;
        font-weight: 600;
        font-size: 1em;
        color: #000000;
        line-height: 20px;
    }

    h6 {
        margin: 0;
        margin-top: 5px;
        padding: 0;

        font-style: normal;
        font-weight: 500;
        font-size: 0.9em;
        color: #000000;
        line-height: 20px;
    }


    p {
        margin: 0;
        margin-top: 5px;
        padding: 0;
        text-align: center;

        font-style: normal;
        font-weight: 600;
        font-size: 0.86em;
        color: #000000;
        line-height: 20px;
    }
}

.ourTeamRow {
    max-height: 390px;
    overflow: hidden;
    transition: max-height 0.8s ease-out;

}

.ourTeamRow.open {
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    /* Adjust the value as needed */
}

.LoadMore {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-btn {
        width: 130px;
        padding: 7px 5px 7px 5px;
        border: none;
        border-radius: 3px;
        background: rgb(12 111 81);
        color: white;

        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    &-btn:hover {
        background: #1b916d;
        box-shadow: 0px -4px 6px 0px #00000026 inset;
    }
}

.more {
    display: block;
}

.less {
    display: none;
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

::-moz-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #91919159;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(12 111 81);
    border-radius: 10px;
}