<app-mainheader></app-mainheader>
<div class="container-fluid p-5">
    <div class="row border ColQuestion">
        <div class="col-12 ">
            <h2>What is docket number and where to find docket number?</h2>

            <ul>
                <li>
                    A docket number is a unique identifier crucial for shipments in ecommerce import-export.
                </li>
                <li>
                    It streamlines customs procedures and optimizes logistics operations.
                </li>
                <li>
                    This number is included in shipping documentation for easy tracking of goods.
                </li>
                <li>
                    It ensures compliance with regulatory requirements by linking documentation to specific shipments.
                </li>
                <li>
                    Docket numbers aid in meticulous record-keeping and provide transparency to customers about order
                    status.
                </li>
            </ul>
        </div>

        <div class="col-2">
            <h3>Sample Document</h3>
            <div class="imgDiv">
                <img src="assets/logo/docketsample label.png" alt="Sameer" srcset="">
            </div>

        </div>
    </div>

    <div class="row border ColQuestion mt-5">
        <div class="col-12 ">
            <h2>Instructions to add docket number to your order.</h2>

            <h2> <strong>STEP 1: &nbsp;</strong> Go to Negbuy’s <strong>&nbsp; Homepage &nbsp;</strong> Homepage and
                click on <strong>&nbsp; profile icon &nbsp;</strong> at the top right of the homepage. Click on it to
                begin.</h2>
        </div>

        <div class="col-9">
            <img src="assets/logo/step 1.webp" alt="Sameer" srcset="">
        </div>

    </div>

    <div class="row border ColQuestion mt-5">
        <div class="col-12 ">
            <h2> <strong>STEP 2: &nbsp;</strong> Click on <strong>&nbsp; “My Orders” &nbsp;</strong> icon. This is where
                you'll manage your orders and add the <strong>&nbsp; docket number &nbsp;</strong> .</h2>
        </div>

        <div class="col-9">
            <img src="assets/logo/step 2.webp" alt="Sameer" srcset="">
        </div>

    </div>

    <div class="row border ColQuestion mt-5">
        <div class="col-12 ">
            <h2> <strong>STEP 3: &nbsp;</strong> Input the <strong>&nbsp; docket number &nbsp;</strong> in the box.
                Don't forget to attach <strong>&nbsp; the label &nbsp;</strong>
                for easy reference.</h2>
        </div>

        <div class="col-9">
            <img src="assets/logo/step 3.webp" alt="Sameer" srcset="">
        </div>

    </div>

    <div class="row border ColQuestion mt-5">
        <div class="col-12 ">
            <h2> <strong>STEP 4: &nbsp;</strong> After entering the <strong>&nbsp; docket number &nbsp;</strong> and
                attaching the label, hit the
                <strong>&nbsp; "Submit" &nbsp;</strong> "Submit" button.
            </h2>
        </div>

        <div class="col-9">
            <img src="assets/logo/step 4.webp" alt="Sameer" srcset="">
        </div>

    </div>

    <div class="row border ColQuestion mt-5">
        <div class="col-12 ">
            <h2> <strong>STEP 5: &nbsp;</strong> After submitting <strong>&nbsp; docket number &nbsp;</strong>, now the
                <strong>&nbsp; payment option &nbsp;</strong> is available.
            </h2>
        </div>

        <div class="col-9">
            <img src="assets/logo/step 5.webp" alt="Sameer" srcset="">
        </div>

    </div>

</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <app-ourservices></app-ourservices>
        </div>
    </div>
</div>


<app-footer></app-footer>