.red-text {
    p {
        color: #F54646 !important;
    }
}

.sticky-top {
    top: 70px;
    position: sticky;
    z-index: 1;
}

* {
    z-index: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$textColor: #f54646;
$fontSize: 15px;
$fontSize2: 20px;

input.ng-invalid.ng-touched {
    border: 1px solid #d70000 !important;
    /*change color if you want*/
    color: #d70000 !important;
}

.activeradio {
    border: 1px solid rgb(245, 164, 169) !important;
    box-shadow: 0px 2px 6px 0px #0000001F;

    span {
        color: #F54646;
    }
}

@mixin fontstyle($font-size, $font-weight) {
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: 115.9%;
    /* or 21px */
    color: rgba(38, 38, 38, 0.8);
}

@mixin showdow {
    // background: #ffffff;
    box-shadow: 0px 2px 16px 0px #9F989820;
    border: 2px solid #0000000D;
}

@mixin selction {
    border: 1px solid rgba(38, 38, 38, 0.23);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

@mixin inputbox {
    border: 1px solid rgba(216, 216, 216, 0.81);
    border-radius: 1px;
}

.activemode {
    padding-left: 0 !important;
    margin: 0;

    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 7px;
    color: #F54646 !important;
    border-bottom: 2px solid #F54646 !important;
    cursor: pointer;
}

.greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(81 74 74 / 25%);
    box-shadow: 0px 3px 6px 0px rgba(167, 163, 163, 0.25);
    background-color: white;

    img {
        width: 45px;
        height: 45px;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 5px;
    }

    h3 {

        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #634040;
        height: 45px;
        margin: 0;
        margin-top: 10px;

        span {
            font-weight: 600;
        }
    }

    &-order {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #F54646;
        height: 45px;
        margin: 0;
        margin-right: 25px;
        margin-top: 10px;
    }
}

.products {

    &-wishheading {
        border: 1px solid #E3E3E3CF;
        box-shadow: 0px 3px 6px 0px #00000012;


        font-size: 1em;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #262626CF;
    }

    &-col {
        border: 1px solid #E3E3E3CF;
        box-shadow: 0px 3px 6px 0px #00000012;
        cursor: pointer;
    }

    &-head {
        display: flex;
        justify-content: space-between;

        h2 {
            margin: 0;

            font-size: 1em;
            font-weight: 500;
            line-height: 1.3em;
            letter-spacing: 0em;
            text-align: left;

        }
    }

    &-country {

        .rating {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: inline-block;
            font-size: 0.9em;
            font-weight: 600;
            color: #F54646;

            padding: 0 7px 0 7px;
            border: 1px solid #F54646;

        }

        .price {
            display: flex;

            span {
                margin: 5px;
                font-family: Inter;
                font-size: 0.8em;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #138808;
            }

            .productactualprice {
                position: relative;
                margin: 5px;

                p {
                    margin: 0;

                    font-size: 1em;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #818181;
                }

                .lineThrough {
                    position: absolute;
                    border-top: 1px solid #818181;
                    top: 47%;
                    left: 0;
                    width: 100%;
                }
            }

            .offerpri {
                margin: 5px;
                margin-left: 0;
                font-family: Inter;
                font-size: 1.1em;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: black;
            }
        }


    }

    .deleteCol {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;

        :hover {

            font-size: 1.25em;
            color: #6e0f0f;
        }
    }

    .sss {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 112px;
            max-width: 100%;
            max-height: 100%;
        }
    }

}

.FAq {
    @include showdow();
    height: auto;

    .faq-heading {
        padding: 2.2%;

    }

    .lifaq {
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }

    .accordion-header {
        border-top: 1px solid #57555512;

        button {
            padding: 5px 12px 0 12px;
            padding-bottom: 0;
            border: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 50px;

            p {

                font-size: 1.4em;
                font-weight: 451;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #262626;
            }
        }
    }

    .accordion-body {
        border-top: 1px solid #57555512;
        padding: 5px 12px 0 12px;

        .accordion-body {

            font-size: 1.4em;
            font-weight: 451;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #262626;
        }
    }

    li:nth-child(1) {
        @include fontstyle(20px, 600);
        color: black;
    }
}


.accordion-button {
    background-color: transparent !important;

}

.accordion-header {
    button {
        p {
            border: none !important;
        }
    }
}

.modal {
    background-color: rgb(0 0 0 / 43%);
    padding: 0;
}

.modal,
.modal-dialog,
.modal-content {
    z-index: 13;
    padding: inherit;
    margin: auto;
    padding: 0;
}

.modal-content {
    padding: 12px;

    .modal-header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 60px;

        .mdh4 {

            font-size: 20px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: center;
            color: #262626CF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .modal-footer {
        margin: 0;
        padding: 0;
        height: 60px;
    }

    .modalfooter {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        button {
            border: none;
            box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
        }

        .noBtn {
            color: black;
            background-color: #E0E0E0;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 500;

            height: 40px;
            width: 100px;
        }

        .yesBtn {
            color: white;
            background-color: #F01727;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 500;

            height: 40px;
            width: 100px;
        }
    }
}


@media only screen and (max-width: 768px) {
    .greeting {

        &-order {
            display: none;
        }

    }

    .products {
        .imgdiv {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        &-head {
            h2 {
                margin: 0;

                font-size: 0.9em;
                font-weight: 500;
                line-height: 1.3em;
                letter-spacing: 0em;
                text-align: left;

            }
        }

        &-country {

            .rating {
                font-size: 0.9em;
            }

        }

        .deleteCol {
            display: flex;
            justify-content: flex-end;
            font-size: 1.5em;
            padding: 10px
        }

    }

    .FAq {
        .accordion-header {

            button {
                p {
                    font-size: 1.2em;
                }
            }
        }

        .accordion-body {
            border-top: 1px solid #57555512;
            padding: 5px 12px 0 12px;

            .accordion-body {
                font-size: 1.2em;
            }
        }
    }
}

@media (max-width:575px) {
    .modal {
        padding: 8px;
    }
}