<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a> Office Supplies </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()"> Book accessories </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Filing & Organisation </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> General Office Supplies </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Office and Chair Mats </a>
          </li>
          <li class="mb-3">
            <a (click)="RouteToProductPage()"> Office Instruments </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn mt-md-0 mt-3"> View all </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <div class="row p-sm-2 pt-4">
        <div class="col-12  mt-3">
          <p class="animalheadingleft">Office Supplies</p>
          <hr>
          <div class="row">

            <div class="col-xl-4 col-md-6 p-3 mt-3  postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/OfficeSupplies/Books stand.webp"
                  alt="Book accessories – bookmarks, covers, and other items for books " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Book Accessories</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Book Cover</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Book Organiser</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Book Stand</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Bookmarks</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3  postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/OfficeSupplies/Accessories.webp"
                  alt="Stationery – writing materials, notepads, and more " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Stationary</p>
                  <div class="hr"></div>

                  <div class="myoverflow">
                    <p (click)="RouteToProductPage()" class="cont-subtext">Address Books</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Binding Supplies</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Correction Fluids</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Portfolios & Padfolios</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3  postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/OfficeSupplies/calendar.webp"
                  alt="Office supplies – essentials for a well-equipped office " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Office Supplies</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Calender</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Label & Tags</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Paper Clips</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Paper Products </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3  postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/OfficeSupplies/Rec771.webp"
                  alt="Office and chair mats – protective mats for floors and chairs" />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Office & Chair Mats</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Anti Fatigue Mats</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Book Carts</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Chair Mats</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Office Mats</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/OfficeSupplies/Books.webp"
                  alt="Office instruments – calculators, staplers, and other tools " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Office Instruments </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Call Bell</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Clipboard</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Letter Opener</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Magnifiers</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/OfficeSupplies/presentation.webp"
                  alt="Presentation supplies – materials and tools for effective presentations " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Presentation Supplies</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Display Boards</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Document Cameras</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Erasable Pads</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Laser Pointers</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>