<!-- Games  -->

<app-games></app-games>

<app-product-carousel [products]="products_slide[0]?.category_data1" [category]="products_slide[0]?.category"
    [products_two]="products_slide[0]?.category_data2" [loader]="loader" [spinnerBuyNow]="spinnerBuyNow"
    [userlogin]="userlogin">
</app-product-carousel>


<!-- Art-craft  -->

<app-art-craft></app-art-craft>

<app-product-carousel [products]="products_slide[1]?.category_data1" [category]="products_slide[1]?.category"
    [products_two]="products_slide[1]?.category_data2" [loader]="loader" [spinnerBuyNow]="spinnerBuyNow"
    [userlogin]="userlogin">
</app-product-carousel>