<div class="container-fluid">
  <div class="row Apparelz">

    <div class="col-lg-9 col-md-8">
      <div class="row p-sm-2 pt-4">

        <div class="col-12  mt-3">
          <p class="animalheading">Arts & Entertainment</p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/art/Creative arts.webp"
                  alt="Creative arts – supplies and tools for artistic expression " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Creative Arts</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Candle Making</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Drawing Kits</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Incence Making</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Toy Craft Kits</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/art/Shapes and Bases.webp"
                  alt="Shapes and bases – materials for crafting and art projects " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Shapes & Bases</p>
                  <div class="hr"></div>

                  <div class="myoverflow">
                    <p (click)="RouteToProductPage()" class="cont-subtext">Craft Foam</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Craft Wood</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Floral Frames</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Papier Mache </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/art/Crafting Wires.webp"
                  alt="Crafting wires – versatile wires for various crafting needs " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Crafting Wires</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Beading Wire</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Floral Wire</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Jewelry wire</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Pipe Cleaner</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/art/Party Supplies.webp"
                  alt="Party supplies – decorations, tableware, and more for celebrations " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Party Supplies</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Birthday Candles</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Balloon Kits</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Drinking Games</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Party Decorations</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/art/Musical Instruments.webp"
                  alt="Musical instruments – guitars, drums, and other instruments " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Musical Instruments</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Bassoons</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Flutophones</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Flutes</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Saxophones</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/art/Rectangle6.webp"
                  alt="Craft paints and ink glaze – vibrant colors and finishes for art projects " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Craft Paint, Ink Glaze</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Art Fixatives</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Art Ink</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Craft Dyes</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Paint</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a> Arts & Entertainment </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()">Candle Making Kits</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Drawing & Painting Kits</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Fabric Repair Kits</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Jewellery making Kits</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Toy Craft Kits</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn"> View all </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>