<div class="container-fluid">
  <div class="row Apparelz">

    <div class="col-lg-9 col-md-8">
      <div class="row p-md-2 pt-4">

        <div class="col-12 mt-3">
          <p class="animalheading">Camera & Optics</p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/CameraOptics/Camera.webp"
                  alt="Cameras – the latest models and brands for photography " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Cameras</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Broescopes</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Digital Cameras</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Film Cameras</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Video Cameras</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/CameraOptics/optics.webp"
                  alt="Optics – lenses and optical equipment for enhanced vision " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Optics</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Binoculars</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Monoculars</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Rangefinders
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Scopes</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/CameraOptics/Photography (1).webp"
                  alt="Photography – gear and accessories for professional photography " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Photography </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Darkroom</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext "> Lighting & Studio </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Photographic Analyzers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Photographic Paper</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/CameraOptics/Lighting&Studio (1).webp"
                  alt="Lighting and studio equipment – essentials for perfect shots " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Lighting & Studio</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext "> Flash Diffusers </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Light Meter </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Meter Accessories </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext "> Studio Backgrounds </p>

                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/CameraOptics/EnlargingEquipment (1).webp"
                  alt="Lens accessories – filters, cases, and more for camera lenses " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead"> Lens Accessories </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext"> Lens Bags </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Lens Caps </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext "> Lens Filters </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Lens Hoods </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/CameraOptics/Camera parts.webp"
                  alt="Camera parts – replacement and upgrade parts for your cameras " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Camera Parts
                  </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Camera Films</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Camera Flashes</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Camera Gears</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Remote Controls</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a> Camera & Optic </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()"> Camera & Optic Replacement Cables </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Camera & Video Camera Lenses </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Camera Lens Accessories </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Camera Parts & Accessories </a>
          </li>

          <li>
            <a (click)="RouteToProductPage()"> Optic Accessories </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn">View All</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>