<div class="container-fluid new_design">
  <div class="row" style="display: flex; justify-content:  space-between;">


    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-3 ">
      <div class="cola1">
        <div class="cola ">
          <img src="../../assets/OurService/1.png" alt="Verfied Seller" />
          <p class="heading">Verfied Seller</p>
          <p class="sub-text">
            100% Verified partners in colaboration with Negbuy.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-3">
      <div class="cola1">
        <div class="cola">
          <img src="../../assets/OurService/5.png" alt="Fast Delivery" />

          <p class="heading">Fast Delivery</p>
          <p class="sub-text p-1">
            Our shipment partners optimize Sea/Air deliveries and provide best outcome to our customers
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-3 ">
      <div class="cola1">
        <div class="cola">
          <img src="../../assets/OurService/2.png" alt="Secure Payments" />
          <p class="heading">Secure Payments</p>
          <p class="sub-text">
            Payments and wire transfer with Negbuy are end - end encrypted and secured with payment gateway.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-3">
      <div class="cola1">
        <div class="cola">
          <img src="../../assets/OurService/3.png" alt="Ex-work or DDP" />

          <p class="heading">Ex-work or DDP</p>
          <p class="sub-text p-1">
            Choose between different shipment mode and find your favourable delivery term
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-3">
      <div class="cola1">
        <div class="cola">

          <img src="../../assets/OurService/4.png" alt="Support 24/7" />

          <p class="heading">Support 24/7</p>
          <p class="sub-text p-1">
            <b>Call at :</b> +91-7836803051 <br>
            <b>Submit your query at :</b> {{'rfq@negbuy.com'}}
          </p>
        </div>
      </div>
    </div>

   

  </div>
</div>