<div class="container-fluid">
  <div class="row Apparelz">

    <div class="col-lg-9 col-md-8">
      <div class="row p-md-2 pt-4 ">

        <div class="col-12 mt-3">
          <p class="animalheading">
            Furniture
          </p>

          <hr>
          <div class="row">

            <div class="col-xl-4 col-md-6  p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/furniture/cabinet.webp"
                  alt="Cabinets and storage – solutions for organizing your space " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Cabinet &
                    Storage
                  </p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Buffets & Sideboard
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Kitchen Cabinets
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Storage Cabinets
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Wardobes
                  </p>

                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6  p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/furniture/Chair.webp"
                  alt="Chairs – a variety of seating options for home and office " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Chairs</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Arm Chair</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Bean Bags </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Massaging Chairs</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Table & Bar Stools</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6  p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/furniture/office furniture.webp"
                  alt="Office furniture – desks, chairs, and storage solutions for offices " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Office Furniutre</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Furniture Sets
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Office Chairs
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Office Desk
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Workspace Tables
                  </p>

                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6  p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/furniture/office furniture.webp"
                  alt="Outdoor furniture – durable and stylish furniture for outdoor spaces " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Outdoor Furniture </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext "> Outdoor Beds </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Outdoor Ottomans </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext "> Outdoor Swings </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">
                    Planters
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6  p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/furniture/shelves.webp"
                  alt="Shelves – storage and display solutions for home and office " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead"> Shelves </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Corner Shelves</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Floating Shelves</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Shelves Accessories</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Wall Shelves</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6  p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/furniture/table.webp"
                  alt="Tables – dining, coffee, and other tables for various needs " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">
                    Table
                  </p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Activity Tables</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Coffee Tables</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Folding Tables</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Games Tables</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a (click)="RouteToProductPage()">Furniture</a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()"> Baby & Toddler Furniture Set</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Basinet & Cradle Accessoires </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Crib & Toddler Bed </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> High chairs </a>
          </li>

          <li>
            <a (click)="RouteToProductPage()"> Booster Seats </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn">View All</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>