<div class="container-fluid">
  <div class="row Apparelz">

    <div class="col-lg-9 col-md-8">
      <div class="row p-md-2 pt-4 ">

        <div class="col-12  mt-3">
          <p class="animalheading">
            Sports Goods
          </p>

          <hr>
          <div class="row">
            <div class="col-xl-4 col-md-6 p-3  mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/sportsGood/Soccer.webp"
                  alt="Soccer equipment – balls, kits, and accessories for soccer " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Soccer</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Soccer Balls </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Soccer Flags</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Soccer Gloves</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Soccer Goals</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3  mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/sportsGood/Baseball.webp "
                  alt="Baseball gear – bats, gloves, and more for baseball enthusiasts " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Baseball</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Baseball Bat</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Baseball Gloves</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Catchers Helmet</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Leg Guard</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3  mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/sportsGood/Basketball.webp "
                  alt="Basketball nets – durable nets for basketball hoops " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Basketball Net </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Basketball Board</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Basketball Hoop</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Smart Net</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Basketball Rims</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3  mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/sportsGood/Boxing.webp"
                  alt="Boxing equipment – gloves, pads, and gear for boxing " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Boxing</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Hand Wraps </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Martial Art Belt</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> MMA Hand Gaurds</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Punching Bags</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3  mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/sportsGood/Cricket.webp"
                  alt="Cricket gear – bats, balls, and protective equipment for cricket " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead"> Cricket</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Cricket Bat</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext  ">Cricket Balls</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Cricket Gloves</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Cricket Stumps</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3  mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/sportsGood/Table tennis.webp"
                  alt="Ping pong – paddles, balls, and tables for table tennis " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Ping Pong
                  </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Pingpong Balls</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Pingpong Net</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Pingpong Set</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Tables</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a (click)="RouteToProductPage()">Sports Goods</a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()">Badminton Racket </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Tennis Ball </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Tennis Racket </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Badminton Cock </a>
          </li>

          <li>
            <a (click)="RouteToProductPage()"> Tennis Net </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn">View All</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>