<app-mainheader></app-mainheader>
<!-- -------------------------------------------------------------------- -->
<div class="container-fluid" style="background-color: white;" *ngIf="loaderS ">

    <div class="row p-md-3 p-2 pt-3">

        <div class="col-lg-8 p-3 pt-1">

            <div class="row">

                <div class="col-12 p-1 greeting">
                    <div class="d-flex">
                        <img src="assets/logo/RectangleExwork.png" alt="">
                        <h3>Hi.!! <br>
                            <span>Name</span>

                        </h3>
                    </div>

                    <div class="col-2 p-1 greeting-order">
                        <h3>
                            Return Centre
                        </h3>
                    </div>
                </div>

                <div class="col-12 d-flex p-1 pt-4 submenu">
                    <h3 (click)="showcontent(0)" [ngClass]="sectionLoaded == 0?'activemode':''">All Orders</h3>
                    <h3 (click)="showcontent(1)" class="submenuh3" [ngClass]="sectionLoaded == 1?'activemode':''">
                        Returned Products</h3>
                </div>

            </div>

            <div class="row">

                <div class="col-12  mt-3">

                    <div class="row orderdetailbox px-3">

                        <div class="col-6 p-2">
                            <div class="shimmer mt-2" style="height: 150px; width: 100%;"></div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="shimmer mt-2" style="height: 150px; width: 100%;"></div>
                        </div>

                        <div class="col-12 p-2">
                            <div class="shimmer mt-2" style="height: 25px; width: 100%;"></div>
                        </div>
                    </div>

                    <div class="row orderdetailbox px-3">

                        <div class="col-6 p-2">
                            <div class="shimmer mt-2" style="height: 150px; width: 100%;"></div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="shimmer mt-2" style="height: 150px; width: 100%;"></div>
                        </div>

                        <div class="col-12 p-2">
                            <div class="shimmer mt-2" style="height: 25px; width: 100%;"></div>
                        </div>
                    </div>

                    <div class="row orderdetailbox px-3">

                        <div class="col-6 p-2">
                            <div class="shimmer mt-2" style="height: 150px; width: 100%;"></div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="shimmer mt-2" style="height: 150px; width: 100%;"></div>
                        </div>

                        <div class="col-12 p-2">
                            <div class="shimmer mt-2" style="height: 25px; width: 100%;"></div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

        <div class="col-lg-4 p-1 ">
            <div class="row sticky-top">
                <div class="col-12">
                    <div class="FAq pb-5">
                        <li class="faq-heading lifaq p-4">FAQs</li>

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne" (click)="toggleTextClass(0)"
                                        [ngClass]="selectedFaq ==0?'red-text':''">
                                        <p>What does DDP mean?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">DDP stands for "Delivered Duty Paid." It means that all
                                        import duties and taxes are
                                        included in the product price.
                                        You won't have to pay any additional charges upon delivery.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo" (click)="toggleTextClass(1)"
                                        [ngClass]="selectedFaq ==1?'red-text':''">
                                        <p>What is "Ex Works" (EXW)?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        "Ex Works" means the seller's responsibility ends once the product is made
                                        available at their premises.
                                        You'll need to arrange and pay for all shipping and customs-related expenses.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree" (click)="toggleTextClass(2)"
                                        [ngClass]="selectedFaq ==2?'red-text':''">
                                        <p>What's the estimated delivery time?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        The estimated delivery time is usually mentioned in the order confirmation
                                        email.
                                        It depends on the shipping method and your location.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour" (click)="toggleTextClass(3)"
                                        [ngClass]="selectedFaq ==3?'red-text':''">
                                        <p>Can I change my shipping address after placing the order?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Depending on the order status, you may or may not be able to change the shipping
                                        address.
                                        Contact our customer support for assistance.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFive" aria-expanded="false"
                                        aria-controls="flush-collapseFive" (click)="toggleTextClass(4)"
                                        [ngClass]="selectedFaq ==4?'red-text':''">
                                        <p>Do I have to pay customs duties for international orders?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Customs duties may apply depending on your country's regulations. For DDP
                                        orders, duties are included.
                                        For EXW orders, you'll be responsible for customs clearance.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                 <li class="accordion-header lifaq" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSix" aria-expanded="false"
                                        aria-controls="flush-collapseSix" (click)="toggleTextClass(5)"
                                        [ngClass]="selectedFaq ==5?'red-text':''">
                                        <p>Can I change the shipping method after placing the order?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseSix" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Shipping method changes might be possible if your order hasn't shipped yet.
                                        Contact us to inquire about changing the shipping method.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                        aria-controls="flush-collapseSeven" (click)="toggleTextClass(6)"
                                        [ngClass]="selectedFaq ==6?'red-text':''">
                                        <p>I change items in my order after it's placed?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Unfortunately, once an order is placed, we can't modify the items.
                                        You may need to cancel and place a new order.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseEight" aria-expanded="false"
                                        aria-controls="flush-collapseEight" (click)="toggleTextClass(7)"
                                        [ngClass]="selectedFaq ==7?'red-text':''">
                                        <p>How do I know if my order has been shipped? </p>
                                    </button>
                                </li>
                                <div id="flush-collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        You'll receive an email with tracking information once your order is shipped.
                                        You can also track your order by clicking on "Track Order" in the "My Order"
                                        section of your account.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseNine" aria-expanded="false"
                                        aria-controls="flush-collapseNine" (click)="toggleTextClass(8)"
                                        [ngClass]="selectedFaq ==8?'red-text':''">
                                        <p>How can I download the invoice for my order? </p>
                                    </button>
                                </li>
                                <div id="flush-collapseNine" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        You can easily download the invoice by visiting the "My Order" section in your
                                        account,
                                        selecting the order, and clicking on the "Download Invoice" button.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingTen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTen" aria-expanded="false"
                                        aria-controls="flush-collapseTen" (click)="toggleTextClass(9)"
                                        [ngClass]="selectedFaq ==9?'red-text':''">
                                        <p>Where can I find the bill for my recent purchase? </p>
                                    </button>
                                </li>

                                <div id="flush-collapseTen" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Log in to your account, navigate to the "My Order" page,
                                        and choose the order you need the bill for. Click on "Download Invoice"
                                        to obtain the bill.
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- </ul> -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- -------------------------------------------------------------------- -->
<div class="container-fluid" style="background-color: white;" *ngIf="!loaderS">

    <div class="row p-md-3 p-2 pt-3">

        <div class="col-lg-8 p-3 pt-1">

            <div class="row">

                <div class="col-12 p-1 greeting">
                    <div class="d-flex">
                        <img src="{{profile_pic}}" alt="">
                        <h3>Hi.!! <br>
                            <span>{{BuyerAddressDelivery.first_name}}</span>

                        </h3>
                    </div>

                    <div class="col-2 p-1 greeting-order">
                        <h3>
                            Return Centre
                        </h3>
                    </div>
                </div>

                <div class="col-12 d-flex p-1 pt-4 submenu">
                    <h3 (click)="showcontent(0)" [ngClass]="sectionLoaded == 0?'activemode':''">All Orders</h3>
                    <h3 (click)="showcontent(1)" class="submenuh3" [ngClass]="sectionLoaded == 1?'activemode':''">
                        Returned Products</h3>
                </div>

            </div>

            <div class="row" *ngIf="sectionLoaded==0">

                <div class="col-12 mt-4" [ngClass]="newRequest">

                    <h3>Raise Return Querry</h3>
                    <button class="btns" (click)="NewRequest()"> New Request</button>

                </div>

                <div class="col-12  mt-4" [ngClass]="newRequestForm">

                    <div class="row">
                        <h3>Select the product to raise the querry</h3>

                        <div class="col-12 formCol">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" placeholder="Search product or order number"
                                        [(ngModel)]="searchItem">
                                </div>
                                <div class="col-md-4 ButtonCol">
                                    <button> Search</button>

                                    <button class="Cancel" (click)="CancelRequest()"> Cancel</button>
                                </div>
                            </div>
                        </div>

                        <h4>Multiple request cannot be raised at one query *</h4>
                        <h4>Your return should also match our return policy ( with proof )*</h4>
                    </div>

                </div>

                <div class="col-12  mt-3" *ngFor="let myOrder of myOrderRes  | paginate: { itemsPerPage: 8 , currentPage: p } | filter: searchItem; let i=index;">

                    <div class="row oldorderDetailbox px-3" >

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row imgBox">
                                            <div class="col-2 ">
                                                <div [ngClass]="Radio">
                                                    <input type="checkbox" [id]="i" name="Proceed"
                                                        [(ngModel)]="RadioValue[i]">
                                                    <label [for]="i" class="p-2"> </label>
                                                </div>
                                            </div>

                                            <div class="col-10 productImgDiv">
                                                <img src="{{myOrder.product_image}}" alt="">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 descBox mt-md-3">
                                        <p>
                                            {{myOrder.product_title}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 add_amount mt-3">
                                <div class="row ">
                                    <div class="col-md-3 add_amount-amount px-2">
                                        <h4>&#8377; {{myOrder.amount}}</h4>
                                    </div>
                                    <div class="col-md-9 add_amount-details px-2">
                                        <h4>Delivered on {{myOrder.expected_delivery_date}}</h4>
                                        <!-- <span><i class="bi bi-star-fill"></i> Rate and Review the Product</span> -->
                                    </div>
                                </div>
                            </div>

                        


                        <div class="col-12 mt-4 newProceed " *ngIf="RadioValue[i] === true && myOrder.return_allowed === true">

                            <h3 class="hideH2">In next page you have to submit reason and visual proof of your reasons.</h3>
                            <h3 class="showH2">Proceed to next page</h3>
                            <button (click)="new_return_request(i)"> Proceed</button>
                        </div>

                        <div class="col-12 mt-4 noReturn" *ngIf="RadioValue[i] === true && myOrder.return_allowed === false">

                            <h3 style="color: red;">The return window for this product has expired, so it is no longer eligible for return.</h3>
        
                        </div>
                    </div>

                </div>

                <div class="col-12 d-flex justify-content-center" *ngIf="myOrderRes.length === 0">
                    <img src="assets/logo/noProductImage.webp" width="80%" height="80%">
                </div>

                <div class="col-12 mt-5 d-flex justify-content-center" *ngIf="myOrderRes.length != 0">
                    <pagination-controls (pageChange)="p = $event"
                      style=" font-family: Montserrat; font-weight: 500;"></pagination-controls>
                  </div>

            </div>  

            <div class="row" *ngIf="sectionLoaded==1">

                <div class="col-12  mt-3">

                    <div class="row oldorderDetailbox">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="mx-2">Image</th>
                                    <th>Product Name</th>
                                    <th>Refund Amount</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ReturnProduct of ReturnProductRes  | paginate: { itemsPerPage: 8 , currentPage: p }; let i=index;">
                                    <td class="imgtd"><img src={{ReturnProduct.image}} alt=""></td>
                                    <td class="parap">{{ReturnProduct.product_name }}</td>
                                    <td>{{ReturnProduct.refund_amount}}</td>
                                    <td
                                        [ngClass]="{'status-yellow': ReturnProduct.status == 'pending', 
                                    'status-green': ReturnProduct.status == 'returned', 'status-red': ReturnProduct.status == 'rejected'}">
                                        {{ReturnProduct.status}}</td>
                                    <td>{{ReturnProduct.action}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-12 mt-5 d-flex justify-content-center  "  *ngIf="ReturnProductRes.length != 0">
                            <pagination-controls (pageChange)="p = $event"
                              style=" font-family: Montserrat; font-weight: 500;"></pagination-controls>
                        </div>
                        
                    </div>

                </div>

                <div class="col-12 d-flex justify-content-center" *ngIf="ReturnProductRes.length === 0">
                    <img src="assets/logo/noProductImage.webp" width="80%" height="80%">
                </div>
                
            </div>

        </div>

        <div class="col-lg-4 p-1 ">
            <div class="row sticky-top">
                <div class="col-12">
                    <div class="FAq pb-2">
                        <li class="faq-heading lifaq p-4">FAQs</li>

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne" (click)="toggleTextClass(0)"
                                        [ngClass]="selectedFaq ==0?'red-text':''">
                                        <p>What does DDP mean?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">DDP stands for "Delivered Duty Paid." It means that all
                                        import duties and taxes are
                                        included in the product price.
                                        You won't have to pay any additional charges upon delivery.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo" (click)="toggleTextClass(1)"
                                        [ngClass]="selectedFaq ==1?'red-text':''">
                                        <p>What is "Ex Works" (EXW)?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        "Ex Works" means the seller's responsibility ends once the product is made
                                        available at their premises.
                                        You'll need to arrange and pay for all shipping and customs-related expenses.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree" (click)="toggleTextClass(2)"
                                        [ngClass]="selectedFaq ==2?'red-text':''">
                                        <p>What's the estimated delivery time?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        The estimated delivery time is usually mentioned in the order confirmation
                                        email.
                                        It depends on the shipping method and your location.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour" (click)="toggleTextClass(3)"
                                        [ngClass]="selectedFaq ==3?'red-text':''">
                                        <p>Can I change my shipping address after placing the order?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Depending on the order status, you may or may not be able to change the shipping
                                        address.
                                        Contact our customer support for assistance.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFive" aria-expanded="false"
                                        aria-controls="flush-collapseFive" (click)="toggleTextClass(4)"
                                        [ngClass]="selectedFaq ==4?'red-text':''">
                                        <p>Do I have to pay customs duties for international orders?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Customs duties may apply depending on your country's regulations. For DDP
                                        orders, duties are included.
                                        For EXW orders, you'll be responsible for customs clearance.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSix" aria-expanded="false"
                                        aria-controls="flush-collapseSix" (click)="toggleTextClass(5)"
                                        [ngClass]="selectedFaq ==5?'red-text':''">
                                        <p>Can I change the shipping method after placing the order?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseSix" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Shipping method changes might be possible if your order hasn't shipped yet.
                                        Contact us to inquire about changing the shipping method.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                        aria-controls="flush-collapseSeven" (click)="toggleTextClass(6)"
                                        [ngClass]="selectedFaq ==6?'red-text':''">
                                        <p>I change items in my order after it's placed?</p>
                                    </button>
                                </li>
                                <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Unfortunately, once an order is placed, we can't modify the items.
                                        You may need to cancel and place a new order.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseEight" aria-expanded="false"
                                        aria-controls="flush-collapseEight" (click)="toggleTextClass(7)"
                                        [ngClass]="selectedFaq ==7?'red-text':''">
                                        <p>How do I know if my order has been shipped? </p>
                                    </button>
                                </li>
                                <div id="flush-collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        You'll receive an email with tracking information once your order is shipped.
                                        You can also track your order by clicking on "Track Order" in the "My Order"
                                        section of your account.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseNine" aria-expanded="false"
                                        aria-controls="flush-collapseNine" (click)="toggleTextClass(8)"
                                        [ngClass]="selectedFaq ==8?'red-text':''">
                                        <p>How can I download the invoice for my order? </p>
                                    </button>
                                </li>
                                <div id="flush-collapseNine" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        You can easily download the invoice by visiting the "My Order" section in your
                                        account,
                                        selecting the order, and clicking on the "Download Invoice" button.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <li class="accordion-header lifaq" id="flush-headingTen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTen" aria-expanded="false"
                                        aria-controls="flush-collapseTen" (click)="toggleTextClass(9)"
                                        [ngClass]="selectedFaq ==9?'red-text':''">
                                        <p>Where can I find the bill for my recent purchase? </p>
                                    </button>
                                </li>

                                <div id="flush-collapseTen" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Log in to your account, navigate to the "My Order" page,
                                        and choose the order you need the bill for. Click on "Download Invoice"
                                        to obtain the bill.
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-ourservices></app-ourservices>
        </div>
    </div>
</div>

<app-footer></app-footer>
