<div class="container-fluid">
  <div class="row Apparelz">

    <div class="col-lg-9 col-md-8">
      <div class="row p-sm-2 pt-4 ">

        <div class="col-12  mt-3">
          <p class="animalheading">
            Home Decor
          </p>

          <hr>
          <div class="row">
            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/HomeGarden/Decor.webp"
                  alt="Home decor – stylish decorations to enhance your living space " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Decor</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Address Signs </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Artifical Flora </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Artwork </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Clocks</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/HomeGarden/Food Storage.webp"
                  alt="Food storage – containers and solutions for organizing food " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Food Storage</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Boxes & Bags
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Cookie Jar
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Food Wraps</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Honey Jar</p>


                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/HomeGarden/Home Security.webp"
                  alt="Home security – products for securing and monitoring your home " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">
                    Home Security
                  </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Home Alarms
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Motion Sensors
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Security Lights
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Security Safes
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/HomeGarden/Home Appliances.webp"
                  alt="Home appliances – essential appliances for your home " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">
                    Home Appliances
                  </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext ">
                    Air Conditioner
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Air Purifier
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">
                    Ceiling Fans
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">
                    Floor Scrubber
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/HomeGarden/Kitchen Appliances.webp"
                  alt="Kitchen appliances – tools and gadgets for cooking and baking " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">
                    Kitchen Appliances
                  </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Vaccum Sealers
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">
                    Vaccum Sealers
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">
                    Yogurt Makers
                  </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Wine Fridges</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/HomeGarden/Lawn & Garden.webp"
                  alt="Lawn and garden – equipment and supplies for outdoor care " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">
                    Lawn & Garden
                  </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Emergency Light</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">In-Ground Lights</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Sprinkler</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Watering Cans</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a>Home Decor</a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()">Bath Candles</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Bathroom Accessories Mounts </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Hand Dryer Accessories </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Shower Curtains </a>
          </li>

          <li>
            <a (click)="RouteToProductPage()"> Toothbrush Holders </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn">View All</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>