<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a> Baby & Toddler</a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()"> Baby Health & Grooming Kits </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Nasal Aspirators </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Pacifier Wipes </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Pacifiers & Teethers </a>
          </li>
          <li class="mb-3">
            <a (click)="RouteToProductPage()"> Pacifier Clips & Holders </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn mt-md-0 mt-3"> View all </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <div class="row p-sm-2 pt-4">
        <div class="col-12  mt-3">
          <p class="animalheadingleft">Baby & Toddler</p>
          <hr>
          <div class="row">

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="assets/BabyToddler/baby feeder.webp"
                  alt="Nursing and feeding – products for babies' feeding needs " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Nursing & Feeding</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Baby Cerals</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Baby Drinks</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Baby Food</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Baby Snacks</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/BabyToddler/baby transportfurniture.webp"
                  alt="Baby transport – strollers, carriers, and more for babies " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Baby Transport</p>
                  <div class="hr"></div>

                  <div class="myoverflow">
                    <p (click)="RouteToProductPage()" class="cont-subtext">Baby Carriers</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Baby Strollers</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Baby Walkers</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Car Seats</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/BabyToddler/baby3.webp"
                  alt="Baby safety – products for a safe environment for babies " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Baby Safety</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Baby & Pet Gate</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Monitors</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Safety Locks </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Safety Rails</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/BabyToddler/baby bath.webp"
                  alt="Baby equipment – essentials for baby care and comfort " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Baby Equipments</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Baby Bathing</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Potty Seats</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Receiving Blankets</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Swaddling Blankets</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/BabyToddler/baby5.webp"
                  alt="Diapering – diapers, wipes, and related products for babies " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Diapering</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Dispensers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Diaper Pails</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Diaper Kits</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Wet Bags</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/BabyToddler/Toys.webp"
                  alt="Toys and activity – engaging toys and activity products for babies " />
                <div class="cont-Subhead-div">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Toys & Activity</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Alphabet Toys</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Baby Activity Toys</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Baby Mobiles</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Baby Walkers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>