<!-- <button (click)="downloadPDF2()">Download PDF 2</button> -->
<div class="container-fluid p-5" id="content" >
    <div class="row negbuyInvoice">

        <img class="bg" src="../../assets/logo/Negbuylogo23.png" alt="Background image" />

        <div class="col-12 header">
            <img src="../../assets/logo/Negbuylogo23.png" alt="Company logo" />
            <h3>Tax Invoice</h3>
        </div>

        <div class="col-12 companyinfo">

            <p><span>Sold by:</span> JAI DURGA TOYS PVT LTD</p>
            <p><span>Ship-from address:</span> K-290, gali no 1, Gamri Road, Arvind Nagar,<br> New Delhi, Delhi 110053
            </p>
            <p><span>GSTIN:</span> 07CLKPS9892K1ZX</p>

        </div>

        <div class="col-12 buyerDetail">
            <div class="row">

                <div class="col-4">
                    <p><span>Order ID: BGH125D364</span></p>
                    <p><span>Order Date:</span> 03-04-2024</p>
                    <p><span>Invoice Date:</span> 03-04-2024</p>
                    <p><span>PAN:</span> NIL</p>
                    <p><span>CIN:</span> NIL</p>
                    <br>
                    <p>Total item: 2</p>
                </div>

                <div class="col-5">
                    <p><span>Invoice To:</span></p>
                    <p><span>Name: Mohd Anas</span></p>
                    <p><span>Address:</span> J-1013/58, Street No. 9, Chauhan Banger</p>
                    <p><span>State:</span> New Delhi</p>
                    <p><span>Pincode:</span> 110053</p>
                </div>

                <div class="col-3">
                    <p class="dash"><span>Invoice Number #</span>1234567890</p>
                    <p>*Keep this invoice and <br>manufacturer box for <br> warranty purpose.</p>
                </div>

            </div>
        </div>

        <div class="col-12 tableData">
            <table class="table">
                <thead>
                    <tr style="border-bottom: 2px solid black;">
                        <th scope="col">Title</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Gross Amount</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Taxable Amount</th>
                        <th scope="col">IGST</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="tableProductName">
                            Ben 10 green and blue color digital wrist watch
                            <br>
                            IGST: 18.0%
                        </th>
                        <td>1</td>
                        <td>1038.00</td>
                        <td>1038.00</td>
                        <td>1038.00</td>
                        <td>1038.00</td>
                        <td>1038.00</td>
                    </tr>

                    <tr>
                        <th scope="row" class="tableProductName">
                            Shipping and Handling Charges
                        </th>
                        <td>1</td>
                        <td>1038.00</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>

                    <tr style="border-bottom: 2px solid black; border-top: 2px solid black;">
                        <th scope="row">
                            Total
                        </th>
                        <td class="totalPrice">1</td>
                        <td class="totalPrice">1038.00</td>
                        <td class="totalPrice">1038.00</td>
                        <td class="totalPrice">1038.00</td>
                        <td class="totalPrice">1038.00</td>
                        <td class="totalPrice">1038.00</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 signature">
            <h4>Authorised signature</h4>
        </div>

        <div class="col-12 termsCondition">
            <h3>Terms & conditions:</h3>
            <br>
            <p>1. <span>Returns Policy:</span> At Negbuy, we aim for flawless deliveries. If you need to return an item,
                please include the original brand box, price tag, packing, and invoice. These are essential for
                processing your request. Thank you for helping us serve you better. Terms and conditions apply.</p>
            <br>
            <p>2. <span>Contact Us:</span> Please contact customer chat support through Negbuy platform or drop in email
                at contactus@negbuy.com. If you have any issues or queries in respect of your order, please contact
                customer chat support through Negbuy platform or drop in email at contactus@negbuy.com.</p>
            <br>
            <p>3. <span>Safety:</span> Please note that we never ask for bank account details such as CVV, account
                number, UPI Pin, etc. across our support channels. For your safety, please do not share these details
                with anyone over any medium.</p>
        </div>


    </div>
</div>