<div class="container-fluid">

  <div class="row">
    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a>Animal & Pet Care</a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()">Feeding and watering</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Cleaning and odour control</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Travel and outdoor </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Veterinary care
            </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Emergency and first aid kits</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn"> View all </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <div class="row p-sm-2 pt-4">

        <div class="col-12 mt-3">
          <p class="animalheadingleft"> Animal & Pet Care</p>
          <hr>
          <div class="row">
            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../../assets/AnimalSlider/Animal Food.webp"
                  alt="Animal food – nutritious food for pets and livestock " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Animal Food</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Bird food</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Cat food </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Dog food </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Fish food</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/AnimalSlider/Animal Accessories.webp"
                  alt="Pet accessories – collars, leashes, and more for pets " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Accessories</p>
                  <div class="hr"></div>
                  <div class="myoverflow">
                    <p (click)="RouteToProductPage()" class="cont-subtext">Bird accessories</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Cat accessories</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Dog accessories</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">Fish accessories</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/AnimalSlider/Animal Grooming.webp"
                  alt="Pet grooming – tools and products for keeping pets clean and healthy " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Grooming</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Bird Grooming</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Cat Grooming</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Dog Grooming</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Small Animals</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/AnimalSlider/Animal Health.webp"
                  alt="Pet health – health products and supplements for pets " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Pet Health</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Bird Supplements</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Cat Supplements</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Dog Supplements</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Small Animals Health</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/AnimalSlider/Animal Housing.webp"
                  alt="Pet housing – beds, crates, and shelters for pets " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Pet Housing</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Bird Cages</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Cat Beds</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Dog Beds</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Fish Tanks</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/AnimalSlider/Animal Clothing.webp"
                  alt="Pet clothing – stylish and functional clothing for pets " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Pet Clothing</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Bird Harness</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Cat Apparel </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Dog Apparel</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Pet Diapers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>