<app-mainheader></app-mainheader>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 termsandcondition">
            <h1 style="display: flex;justify-content: flex-end;">
                <img class="logoimg" align="right" src="../../../assets/Images/logo.png" alt="" />
            </h1>
            <h1>
                NEGBUY PRIVATE LIMITED PAYMENT FLOW
            </h1>
            <h5>
                Effective date: 8 August 2022
            </h5>

            <p>
                Negbuy Private Limited, India ("Negbuy", "We", "Our" or "Us") is the owner of www.negbuy.com and
                www.seller.negbuy.com mobile application (the URLs are referred to as "Websites" and individually a
                "Website"). The terms 'You' or 'Your' refer to You as the user (whether You are a Registered User,
                Unregistered user or an HCP) of the Website or of the services offered by the Website ("Service")
            </p>

            <h3>1. Register to the Website</h3>

            <p>
                We require customers who register to use the services offered on our Site (collectively, the "Service")
                to give us contact information, such as their name, address, phone number, and e-mail address.
            </p>

            <h3>
                2. Browse through the Product Gallery
            </h3>
            <p>
                User can go through the product gallery and browse the products and choose whatever they wanted to buy.
            </p>

            <h3>
                3. Choosing the Product
            </h3>
            <p>
                On choosing a particular product, the detailed page of the product will be rendered which contains all
                the specific information for that product like Specifications, Price, etc.
            </p>

            <h3>
                4. Buy Now Button
            </h3>
            <p>
                On clicking on Buy Now Button on the corresponding page, the user will be rendered to the tracking Page
                where the route from where the product is coming to the user’s location is shown to the user. This page
                contains the location of the Seller’s Warehouse, Nearest Port to Seller’s Warehouse, User’s Nearest Port
                Location and User’s address. This page contains a Proceed button, clicking on which will lead to proceed
                to the payment Part
            </p>

            <h3>
                5. Proceeding to Buy the Product
            </h3>
            <p>
                On clicking the Proceed button, the user will be redirected to the Paytm Payment Portal. From there,
                user can choose the mode of payment to complete the payment. Modes of Payment are Wallet, UPI, Credit
                Card, Debit Card and Net Banking. The Payment will proceed on clicking on Pay Button which is filled
                with the final amount of the product along which include all the taxes.
            </p>

            <h3>
                6. Final Confirmation
            </h3>
            <p>
                The Users will finally redirected to the payment portal where they can choose the payment mode for the
                payment.
            </p>

            <h3>
                7. Transaction Receipt
            </h3>
            <p>
                On Completion of payment, the user will be redirected to the transaction Receipt showing the status of
                the payment.
            </p>

        </div>
    </div>
</div>

<app-footer></app-footer>