<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a>Health & Beauty</a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()"> Acupuncture </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Bed Pans </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Monitor Accessories </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Blood Glucose Meter Accessories </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Lancing Device </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn"> View all </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <div class="row p-sm-2 pt-4">
        <div class="col-12  mt-3">
          <p class="animalheadingleft">Health & Beauty</p>
          <hr>
          <div class="row">

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/healthBeauty/biometric.webp" alt="Healthcare products – medical supplies and wellness items " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Healthcare</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Accupuncture</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Bed Pans</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Biometric Monitors</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Hearing ads</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/healthBeauty/FirstAid.webp" alt="First aid – emergency supplies and kits for immediate care " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">First Aid</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">First Aid Kits</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Ice Packs</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> First Aid Kits </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Heating Pads</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/healthBeauty/fitness.webp" alt="Fitness and nutrition – supplements and equipment for a healthy lifestyle " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Fitness & Nutrition</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Nutrition Bars</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Nutrition Drinks </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Nutrition Gels </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Vitamins</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/healthBeauty/medical.webp" alt="Test kits – diagnostic and testing kits for various needs " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead"> Test Kits</p>
                  <div class="hr"></div>

                  <div class="myscroll">
                    <p (click)="RouteToProductPage()" class="cont-subtext">Allergy Test Kits</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext"> Drug Test Kit</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext">HIV Test Kit</p>
                    <p (click)="RouteToProductPage()" class="cont-subtext"> Pregnancy Test Kit </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/healthBeauty/mobility.webp" alt="Mobility equipment – aids and devices for improved mobility " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead"> Mobility Equipment</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext"> Crutches </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Mobility Scooters </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext ">Stair Lift </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Wheelchairs </p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img loading="lazy" src="../../assets/healthBeauty/cosmetic.webp" alt="Personal care – hygiene and grooming products for daily use " />
                <div class="cont-Subhead-div ">
                  <p class="cont-Subhead">Personal Care</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext"> Bath & Body </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Cosmetic Tools </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext "> Makeup </p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Skin Care </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
