<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 colimg">
      <div class="conts">
        <p class="poster-head">
          <a (click)="RouteToProductPage()"> Building Consumable </a>
        </p>
        <div class="myunderline"></div>
        <ul>
          <li>
            <a (click)="RouteToProductPage()">Chemicals </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()">Solder & Flux </a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Hardware Glue & Adhesive</a>
          </li>
          <li>
            <a (click)="RouteToProductPage()"> Masonry Consumable </a>
          </li>
          <li class="view-btn2">
            <a (click)="RouteToProductPage()"> Plumbing Primer </a>

          </li>
          <li>
            <a (click)="RouteToProductPage()" class="view-btn"> View All </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <div class="row p-md-2 pt-4">

        <div class="col-12  mt-3">
          <p class="animalheadingleft">Hardware</p>
          <hr>
          <div class="row">

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img src="../../assets/hardware/Rectangle1 (1).webp"
                  alt="Building materials – supplies for construction and renovation " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Building Material</p>
                  <div class="hr"></div>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Door</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Flooring & Carpet</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Glass</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Hatches</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img src="../../assets/hardware/fence.webp"
                  alt="Fencing and barriers – solutions for security and property boundaries " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Fencing & Barries</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Fence panel</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Fence Picket</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Fence Posts Rails</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Lattice</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img src="../../assets/hardware/painting.webp"
                  alt="Paintings – decorative and protective paints for various surfaces " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Painting </p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Paints</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Paint Binders</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Primers</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Varnishies & Finishes</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 p-3 mt-3 postercar">
              <div class="animal-contts">
                <img src="../../assets/hardware/hardware.webp"
                  alt="Hardware accessories – tools and fittings for building projects " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Hardware Accessories</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Cabinet Hardware</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Casters</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext"> Coils</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext storage-org">Tool Boxes</p>

                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img src="../../assets/hardware/lock.webp"
                  alt="Locks and keys – security solutions for doors and storage " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead"> Locks & Keys</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext  storage-org">Card Entry System</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Key Blanks</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Key Caps</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Locks & Latches</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 p-3 mt-3 midHide">
              <div class="animal-contts">
                <img src="../../assets/hardware/plumbing.webp"
                  alt="Plumbing supplies – pipes, fittings, and tools for plumbing needs " />
                <div class="cont-Subhead-div ">
                  <p (click)="RouteToProductPage()" class="cont-Subhead">Plumbing</p>
                  <div class="hr"></div>

                  <p (click)="RouteToProductPage()" class="cont-subtext">Nozzels</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Plumbing Fittings</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Plumbing Fixture</p>
                  <p (click)="RouteToProductPage()" class="cont-subtext">Water Dispensing</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>